plugins/org.eclipse.wst.sse.sieditor.test/data/pub/self/mix/CopyTypeTestIncludedSchema.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://www.example.org/CopyTypeTest/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/CopyTypeTest/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/CopyTypeTest/Types"
			xmlns:tns="http://www.example.org/CopyTypeTest/Types">
			<xsd:include schemaLocation="CopyTypeTestExternal.xsd"/>
			<xsd:complexType name="GlobalComplexType">
				<xsd:sequence>
					<xsd:element name="element1" type="xsd:string" />
					<xsd:element name="element2" type="xsd:int" />
					<xsd:sequence>
						<xsd:element name="element4" type="tns:CountryCode" />
						<xsd:group ref="tns:ModelGroupDefinition" />
					</xsd:sequence>
				</xsd:sequence>
				<xsd:attribute name="attr1" type="xsd:string" />
				<xsd:attribute ref="tns:AttributeWithSimpleType" />
				<xsd:attributeGroup ref="tns:AttributeGroupDefinition" />
			</xsd:complexType>
			<xsd:group name="ModelGroupDefinition">
				<xsd:sequence>
					<xsd:element name="elementm1" type="tns:CatalogueItemID" />
					<xsd:element name="elementm2" type="xsd:int" />
					<xsd:sequence>
						<xsd:element name="elementm4">
							<xsd:simpleType>
								<xsd:restriction base="tns:ContactPersonPartyID">
									<xsd:maxLength value="40" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:group ref="tns:ModelGroupDefinitionOne"/>
					</xsd:sequence>
				</xsd:sequence>
			</xsd:group>
			<xsd:attributeGroup name="AttributeGroupDefinition">
				<xsd:attribute name="attributea1" type="xsd:string" />
				<xsd:attribute name="attributea2">
					<xsd:simpleType>
						<xsd:restriction base="tns:ActionCode">
							<xsd:length value="2" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute ref="tns:AttributeWithSimpleTypeOne" />
				<xsd:attributeGroup ref="tns:AttributeGroupDefinitionOne" />
				<xsd:anyAttribute />
			</xsd:attributeGroup>
			<xsd:simpleType name="CountryCode">
				<xsd:restriction base="xsd:token">
					<xsd:length value="3" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="AcceptanceStatusCodeOne">
				<xsd:restriction base="tns:AcceptanceStatusCode">
					<xsd:length value="2" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
</wsdl:definitions>