plugins/org.eclipse.wst.sse.sieditor.test/data/pub/self/mix/Elements.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/StructureType/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/StructureType/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/StructureType/">
			<xsd:complexType name="complexType">
				<xsd:annotation>
					<xsd:documentation>Documentation</xsd:documentation>
					<xsd:documentation>Documentation1</xsd:documentation>
				</xsd:annotation>
				<xsd:annotation>
					<xsd:documentation>Documentation</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="elementParticle" type="xsd:string" />
					<xsd:element name="elementParticle1" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="complexType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="elementParticle" type="xsd:string" />
						<xsd:element name="elementParticle1" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="tns:NewOperation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="tns:NewOperationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="SimpleType">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SimpleTypeSOAP" type="tns:SimpleType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation">
			<soap:operation soapAction="http://www.example.org/SimpleType/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SimpleType">
		<wsdl:port binding="tns:SimpleTypeSOAP" name="SimpleTypeSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
