plugins/org.eclipse.wst.sse.sieditor.test/data/pub/self/mix/Importing.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/Importing/"
	xmlns:imp="http://www.example.org/Imported/"
	xmlns:imp1="http://www.example.com/IPO"
	xmlns:imp2="http://www.example.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/Importing/">
	
	<wsdl:import namespace="http://www.example.org/Imported/" location="Imported.wsdl" />
	<wsdl:import namespace="http://www.example.org/Imported/" location="NotExisting.wsdl" />
	<wsdl:import namespace="http://www.example.com/IPO" location="po.xsd" />
	<wsdl:import namespace="http://www.example.com/IPO" location="NotExisting.xsd" />
	
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/Importing/">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.example.com/" schemaLocation="example.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="tns:NewOperation" name="containedType" />
		<wsdl:part element="imp1:comment" name="importedType" />
		<wsdl:part element="imp2:comment" name="wsiImportedType" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="tns:NewOperationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="PortType">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="PortTypeWithImportedMessageRef">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="imp:ImportedOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>