plugins/org.eclipse.wst.sse.sieditor.test/data/pub/self/mix/SharedMessage.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/SharedMessage/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SharedMessage"
	targetNamespace="http://www.example.org/SharedMessage/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/SharedMessage/">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Message">
		<wsdl:part element="tns:NewOperation" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="SharedMessage">
		<wsdl:operation name="Operation">
			<wsdl:input message="tns:Message" />
			<wsdl:output message="tns:Message" />
			<wsdl:fault name="fault" message="tns:Message"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
