plugins/org.eclipse.wst.sse.sieditor.test/data/pub/self/mix/SimpleType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/SimpleType/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/SimpleType/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/SimpleType/">
			<xsd:simpleType name="stringType">
				<xsd:annotation>
					<xsd:documentation>Documentation</xsd:documentation>
					<xsd:documentation>Documentation1</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="value1" />
					<xsd:enumeration value="value2" />
					<xsd:pattern value="value*" />
					<xsd:pattern value="v*" />
					<xsd:minLength value="1" />
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="stringType1">
				<xsd:restriction base="xsd:string">
					<xsd:length value="10" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="intType">
				<xsd:restriction base="xsd:int">
					<xsd:enumeration value="1" />
					<xsd:enumeration value="2" />
					<xsd:enumeration value="43647489" />
					<xsd:pattern value="*9*" />
					<xsd:pattern value="*8*" />
					<xsd:minLength value="1" />
					<xsd:maxLength value="10" />
					<xsd:minInclusive value="1" />
					<xsd:maxInclusive value="1098098988" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="intType1">
				<xsd:annotation>
					<xsd:documentation><one>One</one></xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:int">
					<xsd:enumeration value="1" />
					<xsd:enumeration value="2" />
					<xsd:enumeration value="43647489" />
					<xsd:pattern value="*9*" />
					<xsd:pattern value="*8*" />
					<xsd:minLength value="1" />
					<xsd:maxLength value="10" />
					<xsd:minExclusive value="1" />
					<xsd:maxExclusive value="1098098988" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="stWithSimpleBaseType">
				<xsd:restriction base="tns:stringType">
					<xsd:minLength value="2" />
					<xsd:maxLength value="8" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="stListType">
				<xsd:list itemType="xsd:string" />
			</xsd:simpleType>
			<xsd:simpleType name="stUnionType">
				<xsd:union memberTypes="xsd:int xsd:float" />
			</xsd:simpleType>
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="complexType">
				<xsd:sequence>
					<xsd:element name="in" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="tns:NewOperation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="tns:NewOperationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="SimpleType">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SimpleTypeSOAP" type="tns:SimpleType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation">
			<soap:operation soapAction="http://www.example.org/SimpleType/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SimpleType">
		<wsdl:port binding="tns:SimpleTypeSOAP" name="SimpleTypeSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
