plugins/org.eclipse.wst.sse.sieditor.test/data/pub/self/mix/TypesInternalImporting.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/TypesImporting/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TypesImporting"
	targetNamespace="http://www.example.org/TypesImporting/" xmlns:impex="http://www.example.com/"
	xmlns:imppo="http://www.example.com/IPO">
	<wsdl:types>
		<schema targetNamespace="http://www.example.com/" xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:ipo="http://www.example.com/">
			<complexType name="Address">
				<sequence>
					<element name="name" type="string" />
					<element name="street" type="string" />
					<element name="city" type="string" />
				</sequence>
			</complexType>
			<element name="purchaseOrder" type="ipo:PurchaseOrderType" />
			<element name="comment" type="string" />
			<complexType name="PurchaseOrderType">
				<sequence>
					<element name="shipTo" type="ipo:Address" />
					<element name="billTo" type="ipo:Address" />
					<element name="items" type="ipo:ItemsExtended" />
				</sequence>
				<attribute name="orderDate" type="date" />
			</complexType>
			<complexType name="ItemsExtended">
				<complexContent>
					<extension base="ipo:Items">
						<sequence>
							<element name="specialId" type="integer" />
							<element ref="ipo:comment" minOccurs="0" />
						</sequence>
						<attribute name="specialAtt" type="string" use="required" />
					</extension>
				</complexContent>
			</complexType>
			<complexType name="ItemsBase">
				<sequence>
					<element name="item" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<sequence>
								<element name="productName" type="string" />
								<element name="quantity">
									<simpleType>
										<restriction base="positiveInteger">
											<maxExclusive value="100"></maxExclusive>
										</restriction>
									</simpleType>
								</element>
								<element name="USPrice" type="decimal" />
								<element name="shipDate" type="date" minOccurs="0" />
							</sequence>
							<attribute name="partNum" type="ipo:SKU" use="required" />
						</complexType>
					</element>
				</sequence>
			</complexType>
			<complexType name="Items">
				<complexContent>
					<extension base="ipo:ItemsBase">
						<sequence minOccurs="0">
							<element name="elementBase" type="decimal" />
						</sequence>
						<attribute name="atributeBase" type="string" />
					</extension>
				</complexContent>
			</complexType>
			<simpleType name="SKU">
				<restriction base="string">
				</restriction>
			</simpleType>
			<attribute name="globalAttribute">
				<simpleType>
					<restriction base="string">
						<enumeration value="value1" />
					</restriction>
				</simpleType>
			</attribute>
		</schema>
		<schema targetNamespace="http://www.example.com/IPO" xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:ipo="http://www.example.com/IPO">
			<complexType name="Address">
				<sequence>
					<element name="name" type="string" />
					<element name="street" type="string" />
					<element name="city" type="string" />
				</sequence>
			</complexType>
			<element name="purchaseOrder" type="ipo:PurchaseOrderType" />
			<element name="comment" type="string" />
			<complexType name="PurchaseOrderType">
				<sequence>
					<element name="shipTo" type="ipo:Address" />
					<element name="billTo" type="ipo:Address" />
					<element name="items" type="ipo:ItemsExtended" />
				</sequence>
				<attribute name="orderDate" type="date" />
			</complexType>
			<complexType name="ItemsExtended">
				<complexContent>
					<extension base="ipo:Items">
						<sequence>
							<element name="specialId" type="integer" />
							<element ref="ipo:comment" minOccurs="0" />
						</sequence>
						<attribute name="specialAtt" type="string" use="required" />
					</extension>
				</complexContent>
			</complexType>
			<complexType name="ItemsBase">
				<sequence>
					<element name="item" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<sequence>
								<element name="productName" type="string" />
								<element name="quantity">
									<simpleType>
										<restriction base="positiveInteger">
											<maxExclusive value="100"></maxExclusive>
										</restriction>
									</simpleType>
								</element>
								<element name="USPrice" type="decimal" />
								<element name="shipDate" type="date" minOccurs="0" />
							</sequence>
							<attribute name="partNum" type="ipo:SKU" use="required" />
						</complexType>
					</element>
				</sequence>
			</complexType>
			<complexType name="Items">
				<complexContent>
					<extension base="ipo:ItemsBase">
						<sequence minOccurs="0">
							<element name="elementBase" type="decimal" />
						</sequence>
						<attribute name="atributeBase" type="string" />
					</extension>
				</complexContent>
			</complexType>
			<simpleType name="SKU">
				<restriction base="string">
				</restriction>
			</simpleType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.example.org/TypesImporting/"
			xmlns:tns="http://www.example.org/TypesImporting/">
			<complexType name="Address">
				<sequence>
					<element name="name" type="string" />
					<element name="street" type="string" />
					<element name="city" type="string" />
				</sequence>
			</complexType>
			<element name="purchaseOrder" type="tns:PurchaseOrderType" />
			<element name="comment" type="string" />
			<complexType name="PurchaseOrderType">
				<sequence>
					<element name="shipTo" type="tns:Address" />
					<element name="billTo" type="tns:Address" />
					<element name="items" type="tns:ItemsExtended" />
				</sequence>
				<attribute name="orderDate" type="date" />
			</complexType>
			<complexType name="ItemsExtended">
				<complexContent>
					<extension base="tns:Items">
						<sequence>
							<element name="specialId" type="integer" />
							<element ref="tns:comment" minOccurs="0" />
						</sequence>
						<attribute name="specialAtt" type="string" use="required" />
					</extension>
				</complexContent>
			</complexType>
			<complexType name="ItemsBase">
				<sequence>
					<element name="item" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<sequence>
								<element name="productName" type="string" />
								<element name="quantity">
									<simpleType>
										<restriction base="positiveInteger">
											<maxExclusive value="100"></maxExclusive>
										</restriction>
									</simpleType>
								</element>
								<element name="USPrice" type="decimal" />
								<element name="shipDate" type="date" minOccurs="0" />
							</sequence>
							<attribute name="partNum" type="tns:SKU" use="required" />
						</complexType>
					</element>
				</sequence>
			</complexType>
			<complexType name="Items">
				<complexContent>
					<extension base="tns:ItemsBase">
						<sequence minOccurs="0">
							<element name="elementBase" type="decimal" />
						</sequence>
						<attribute name="atributeBase" type="string" />
					</extension>
				</complexContent>
			</complexType>
			<simpleType name="SKU">
				<restriction base="string">
				</restriction>
			</simpleType>
			<attribute name="globalAttributeDeclaration">
				<simpleType>
					<restriction base="string">
						<enumeration value="value1" />
					</restriction>
				</simpleType>
			</attribute>
		</schema>
		<xsd:schema targetNamespace="http://www.example.org/TypesImporting/">
			<xsd:import namespace="http://www.example.com/" />
			<xsd:import namespace="http://www.example.com/IPO" />
			<xsd:complexType name="complexType">
				<xsd:annotation>
					<xsd:documentation>Documentation</xsd:documentation>
					<xsd:documentation>Documentation1</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="elementParticle" type="impex:Address">
						<xsd:annotation>
							<xsd:documentation>Documentation</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="elementParticle1" type="xsd:int"
						minOccurs="2" maxOccurs="5" nillable="true">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="complexType">
				<xsd:annotation>
					<xsd:documentation>Documentation</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="elementParticle" type="impex:Address" />
						<xsd:element ref="tns:comment" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="globalElement" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Documentation</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:attribute name="globalAttribute" type="xsd:string" />
			<xsd:attributeGroup name="attributeGroup">
				<xsd:attribute name="attribute4">
					<xsd:simpleType>
						<xsd:restriction base="impex:SKU">
							<xsd:enumeration value="value1" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="attribute5" type="xsd:string" />
			</xsd:attributeGroup>
			<xsd:attributeGroup name="attributeGroup1">
				<xsd:attribute name="attribute8">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="value1" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute ref="tns:globalAttribute" />
				<xsd:attributeGroup ref="tns:attributeGroup" />
			</xsd:attributeGroup>
			<xsd:group name="modelGroup">
				<xsd:sequence>
					<xsd:element name="element1" type="xsd:string" />
					<xsd:element name="element2" type="xsd:int" />
				</xsd:sequence>
			</xsd:group>
			<xsd:group name="modelGroup1">
				<xsd:sequence>
					<xsd:element name="element1" type="xsd:string" />
					<xsd:element name="element2" type="xsd:int" />
					<xsd:group ref="tns:modelGroup" />
				</xsd:sequence>
			</xsd:group>
			<xsd:simpleType name="simpleType">
				<xsd:restriction base="imppo:SKU">
					<xsd:enumeration value="value1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="globalElementWithSt">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="value1" />
						<xsd:enumeration value="value2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:complexType name="ctWithAttributes">
				<xsd:sequence>
					<xsd:element ref="tns:globalElement" minOccurs="10"
						maxOccurs="100" />
					<xsd:element name="elementParticle3" type="xsd:string" />
				</xsd:sequence>
				<xsd:attribute name="attribute1" type="xsd:string" />
			</xsd:complexType>
			<xsd:complexType name="ctExtension">
				<xsd:complexContent>
					<xsd:extension base="impex:Items">
						<xsd:sequence>
							<xsd:element ref="imppo:comment" />
							<xsd:element name="elementParticle3" type="xsd:string" />
							<xsd:element name="elementParticle4" type="tns:simpleType"></xsd:element>
						</xsd:sequence>
						<xsd:attribute name="attribute1" type="xsd:string" />
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:element name="elementCtExtension">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="tns:complexType">
							<xsd:sequence>
								<xsd:element ref="tns:globalElement" />
								<xsd:element name="elementParticle3" type="xsd:string" />
							</xsd:sequence>
							<xsd:attribute name="attribute1" type="xsd:string" />
							<xsd:attribute name="attribute2">
								<xsd:simpleType>
									<xsd:restriction base="xsd:int">
										<xsd:minInclusive value="50" />
										<xsd:maxInclusive value="100" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ctRestriction">
				<xsd:complexContent>
					<xsd:restriction base="tns:complexType">
						<xsd:sequence>
							<xsd:element name="elementParticle">
								<xsd:simpleType>
									<xsd:restriction base="imppo:SKU">
										<xsd:enumeration value="value1" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="elementParticle1" type="xsd:long" />
						</xsd:sequence>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ctSimpleContentExtension">
				<xsd:simpleContent>
					<xsd:extension base="impex:SKU">
						<xsd:attribute name="attribute1" type="impex:SKU" />
						<xsd:attribute name="attribute2" type="imppo:SKU" />
						<xsd:attribute ref="impex:globalAttribute" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="ctSimpleContentRestriction">
				<xsd:simpleContent>
					<xsd:restriction base="tns:ctSimpleContentExtension">
						<xsd:enumeration value="value1" />
						<xsd:attribute name="attribute1">
							<xsd:simpleType>
								<xsd:restriction base="impex:SKU">
									<xsd:enumeration value="value1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="attribute2" type="imppo:SKU" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="nestedElements">
				<xsd:sequence>
					<xsd:sequence>
						<xsd:element ref="tns:globalElement" />
						<xsd:element name="elementParticle" type="xsd:string" />
						<xsd:element name="elementParticle1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:length value="25" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
					<xsd:element name="elementParticle2" type="xsd:string" />
					<xsd:sequence>
						<xsd:element name="elementParticle3" type="xsd:string" />
						<xsd:choice>
							<xsd:element name="elementParticle4" type="xsd:string" />
						</xsd:choice>
					</xsd:sequence>
				</xsd:sequence>
				<xsd:attribute name="attribute1">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="value1" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="attribute2" type="xsd:string" />
				<xsd:attributeGroup ref="tns:attributeGroup1" />
			</xsd:complexType>
			<xsd:complexType name="allModelGroupType">
				<xsd:all>
					<xsd:element ref="tns:globalElement" />
					<xsd:element name="elementParticle" type="xsd:string" />
					<xsd:element name="elementParticle1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="25" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="elementParticle2" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="groupDefinitionType">
				<xsd:all>
					<xsd:element ref="tns:globalElement" />
					<xsd:element name="elementParticle" type="xsd:string" />
					<xsd:element name="elementParticle1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="25" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="elementParticle2" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:element name="globalElementWithElements">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="elementParticle">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:sequence>
										<xsd:element ref="tns:globalElement" />
										<xsd:element name="elementParticle" type="xsd:string" />
										<xsd:element name="elementParticle1">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:length value="25" />
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:sequence>
									<xsd:element name="elementParticle2" type="tns:simpleType" />
									<xsd:sequence>
										<xsd:element name="elementParticle3" type="xsd:string" />
										<xsd:choice>
											<xsd:element name="elementParticle4" type="xsd:string" />
											<xsd:element name="anyContentElement" />
										</xsd:choice>
									</xsd:sequence>
								</xsd:sequence>
								<xsd:attribute name="attribute1">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:enumeration value="value1" />
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="attribute2" type="xsd:string" />
								<xsd:attribute ref="tns:globalAttributeDeclaration" />
								<xsd:attribute name="attribute4" type="tns:simpleType">
									<xsd:annotation>
										<xsd:documentation>Documentation
										</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ctImportedExtension">
				<xsd:complexContent>
					<xsd:extension base="impex:Address">
						<xsd:attribute ref="impex:globalAttribute" />
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ctImportedRestriction">
				<xsd:complexContent>
					<xsd:restriction base="imppo:Address">
						<xsd:sequence>
							<xsd:element name="name" type="xsd:string" />
							<xsd:element name="street" type="xsd:string" />
							<xsd:element name="city" type="xsd:string" />
						</xsd:sequence>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
</wsdl:definitions>