plugins/org.eclipse.wst.sse.sieditor.test/data/pub/extract/DependentSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns2="http://namespace3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://namespace2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:ns0="http://namespace1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://namespace3">
            <xsd:import namespace="http://www.example.org/NewWSDLFile/" schemaLocation="DependentSchema1.xsd"/>
            <xsd:simpleType name="SimpleType2">
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
            <xsd:complexType name="StructureType1">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="Element1" type="tns:StructureType2"/>
    </xsd:sequence>
  </xsd:complexType>
        </xsd:schema>
