plugins/org.eclipse.wst.sse.sieditor.test/validation/Locuses.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile" targetNamespace="http://www.example.org/NewWSDLFile/" >
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/NewWSDLFile/">
          	             <xsd:element name="Element1"><xsd:simpleType><xsd:restriction base="xsd:int"><xsd:whiteSpace value="replace"></xsd:whiteSpace><xsd:minInclusive value="one"></xsd:minInclusive><xsd:maxInclusive value="two"></xsd:maxInclusive><xsd:minExclusive value="hundred"></xsd:minExclusive><xsd:maxExclusive value="thousand"></xsd:maxExclusive><xsd:totalDigits value="twenty"></xsd:totalDigits><xsd:enumeration value="not_int"></xsd:enumeration></xsd:restriction></xsd:simpleType></xsd:element>
            <xsd:complexType name="StructureType1"><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="Element1"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:length value="@"></xsd:length><xsd:minLength value="!"></xsd:minLength><xsd:maxLength value="%"></xsd:maxLength><xsd:whiteSpace value="collapse"></xsd:whiteSpace></xsd:restriction></xsd:simpleType></xsd:element></xsd:sequence><xsd:attribute name="Attribute1" type="tns:SimpleType1"></xsd:attribute></xsd:complexType>
            <xsd:simpleType name="SimpleType"><xsd:restriction base="tns:SimpleType2"><xsd:enumeration value="@"></xsd:enumeration></xsd:restriction></xsd:simpleType>
        </xsd:schema>
       
    </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part name="parameters" type="xsd:date"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part name="parameters" type="xsd:date"/>
  </wsdl:message>
    <wsdl:message name="NewOperation1Request"><wsdl:part name="Parameter" element="tns:Element1"></wsdl:part></wsdl:message>
    <wsdl:message name="NewOperation1Response"><wsdl:part name="Parameter" element="tns:Element2"></wsdl:part></wsdl:message>
    <wsdl:message name="NewOperationFault"><wsdl:part name="Parameter" element="tns:FaultElement1"></wsdl:part></wsdl:message>
    <wsdl:message name="Fault1Fault"><wsdl:part name="Parameter" element="tns:FaultElement2"></wsdl:part></wsdl:message>
    <wsdl:portType name="NewWSDLFile">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
            <wsdl:fault name="Fault1" message="tns:Fault1Fault"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
  <wsdl:binding name="NewWSDLFileSOAP" type="tns:NewWSDLFile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/NewWSDLFile/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewWSDLFile">
    <wsdl:port binding="tns:NewWSDLFileSOAP" name="NewWSDLFileSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
