plugins/org.eclipse.wst.sse.sieditor.test/validation/validaitionServiceTest.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:schns="http://www.example.org/"
	name="tst" targetNamespace="http://www.example.org/" xmlns:ns0="http://namespace1">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in2334322">
							<xsd:simpleType>
								<xsd:restriction base="xsd:date"></xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema xmlns:ns0="http://namespace1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://namespace1">
			<xsd:simpleType name="SimpleType24">
				<xsd:restriction base="xsd:string"></xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="SimpleType2">
				<xsd:restriction base="xsd:string"><xsd:length value="6"></xsd:length></xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="Element1" type="xsd:int"></xsd:element>
			<xsd:complexType name="StructureType25543s4433">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="Element1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="7"></xsd:minLength>
								<xsd:maxLength value="9"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="Element12"
						type="xsd:hexBinary"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="Attribute1"></xsd:attribute>
				<xsd:attribute name="Attribute1"></xsd:attribute>
			</xsd:complexType>
			<xsd:element name="Element3" type="xsd:double"></xsd:element>
			<xsd:complexType name="StructureType1">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="Element6">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="3"></xsd:pattern>
								<xsd:enumeration value="8"></xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="SimpleType3">
				<xsd:restriction base="xsd:hexBinary"></xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="SimpleType4">
				<xsd:restriction base="ns0:SimpleType3"></xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="SimpleType45">
				<xsd:restriction base="xsd:string"></xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="SimpleType6">
				<xsd:restriction base="xsd:int"></xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="Element2">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="schns:NewOperation" name="Parameter" />
		<wsdl:part name="Parameter1" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="schns:NewOperationResponse" name="Parameter" />
	</wsdl:message>
	<wsdl:portType name="tst">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOpers2ationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="tstSOAP" type="tns:tst">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation">
			<soap:operation soapAction="http://www.example.org/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="tst">
		<wsdl:port binding="tns:tstSOAP" name="tstSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
