plugins/org.eclipse.wst.sse.sieditor.test/validation/WSDLForXSDAttributeDeclaration.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/WSDLForXSDAttributeDeclaration/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	name="WSDLForXSDAttributeDeclaration" targetNamespace="http://www.example.org/WSDLForXSDAttributeDeclaration/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/WSDLForXSDAttributeDeclaration/">
			<xsd:import schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"
				namespace="http://schemas.xmlsoap.org/soap/encoding/"></xsd:import>
			<xsd:element name="MyArray2">
				<xsd:complexType name="MyArray2Type">
					<xsd:complexContent>
						<xsd:restriction base="soapenc:Array">
							<xsd:sequence>
								<xsd:element name="x" type="xsd:string" minOccurs="0"
									maxOccurs="unbounded" />
							</xsd:sequence>
							<xsd:attribute ref="soapenc:arrayType"
								wsdl:arrayType="tns:MyArray2Type[]" />
						</xsd:restriction>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="tns:NewOperation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="tns:NewOperationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="WSDLForXSDAttributeDeclaration">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WSDLForXSDAttributeDeclarationSOAP"
		type="tns:WSDLForXSDAttributeDeclaration">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation">
			<soap:operation
				soapAction="http://www.example.org/WSDLForXSDAttributeDeclaration/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WSDLForXSDAttributeDeclaration">
		<wsdl:port binding="tns:WSDLForXSDAttributeDeclarationSOAP"
			name="WSDLForXSDAttributeDeclarationSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
