plugins/org.eclipse.wst.sse.sieditor.test/validation/WSDlWithDocumentStyleAndFaults.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/WSDlWithDocumentStyleAndFaults/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="WSDlWithDocumentStyleAndFaults" targetNamespace="http://www.example.org/WSDlWithDocumentStyleAndFaults/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/WSDlWithDocumentStyleAndFaults/">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element2">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element3">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element4">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element5">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element6">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element7">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element8">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element9">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element10">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element11">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element12">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element13">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element14">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FaultElement1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element15">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element16">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element17">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element18">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element19">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element20">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FaultElement2">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="tns:NewOperation" name="parameter1" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="tns:NewOperationResponse" name="parameter2" />
	</wsdl:message>
	<wsdl:message name="NewOperation1Request">
		<wsdl:part name="Parameter" element="tns:Element1"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Response">
		<wsdl:part name="Parameter" element="tns:Element2"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Request1">
		<wsdl:part name="Parameter" element="tns:Element3"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Response1">
		<wsdl:part name="Parameter" element="tns:Element4"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Request2">
		<wsdl:part name="Parameter" type="xsd:date"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Response2">
		<wsdl:part name="Parameter" type="xsd:byte"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Request3">
		<wsdl:part name="Parameter" element="tns:Element7"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Response3">
		<wsdl:part name="Parameter" element="tns:Element8"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Request4">
		<wsdl:part name="Parameter" type="xsd:dateTime"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Response4">
		<wsdl:part name="Parameter" type="xsd:date"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Request5">
		<wsdl:part name="Parameter" element="tns:Element11"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Response5">
		<wsdl:part name="Parameter" element="tns:Element12"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Request6">
		<wsdl:part name="Parameter" type="xsd:date"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Response6">
		<wsdl:part name="Parameter" type="xsd:anySimpleType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="operation8Fault">
		<wsdl:part name="Parameter" element="tns:FaultElement1"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Request7">
		<wsdl:part name="Parameter1" type="xsd:dateTime"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Response7">
		<wsdl:part name="Parameter" type="xsd:anySimpleType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Request8">
		<wsdl:part name="Parameter" type="xsd:boolean"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Response8">
		<wsdl:part name="PartInHeader" type="xsd:base64Binary"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="operation10Fault">
		<wsdl:part name="Fault1" element="tns:FaultElement2"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PortType1">
		<wsdl:operation name="operation1">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="PortType2">
		<wsdl:operation name="operation2">
			<wsdl:input message="tns:NewOperation1Request"></wsdl:input>
			<wsdl:output message="tns:NewOperation1Response"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="operation3">
			<wsdl:input message="tns:NewOperation1Request1"></wsdl:input>
			<wsdl:output message="tns:NewOperation1Response1"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="PortType3">
		<wsdl:operation name="operation4">
			<wsdl:input message="tns:NewOperation1Request2"></wsdl:input>
			<wsdl:output message="tns:NewOperation1Response2"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="operation5">
			<wsdl:input message="tns:NewOperation1Request3"></wsdl:input>
			<wsdl:output message="tns:NewOperation1Response3"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="PortType4">
		<wsdl:operation name="operation6">
			<wsdl:input message="tns:NewOperation1Request4"></wsdl:input>
			<wsdl:output message="tns:NewOperation1Response4"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="PortType5">
		<wsdl:operation name="operation7">
			<wsdl:input message="tns:NewOperation1Request5"></wsdl:input>
			<wsdl:output message="tns:NewOperation1Response5"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="PortType6">
		<wsdl:operation name="operation8">
			<wsdl:input message="tns:NewOperation1Request6"></wsdl:input>
			<wsdl:output message="tns:NewOperation1Response6"></wsdl:output>
			<wsdl:fault name="Fault1" message="tns:operation8Fault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="PortType7">
		<wsdl:operation name="operation9">
			<wsdl:input message="tns:NewOperation1Request7"></wsdl:input>
			<wsdl:output message="tns:NewOperation1Response7"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="PortType8">
		<wsdl:operation name="operation10">
			<wsdl:input message="tns:NewOperation1Request8"></wsdl:input>
			<wsdl:output message="tns:NewOperation1Response8"></wsdl:output>
			<wsdl:fault name="Fault11" message="tns:operation10Fault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PortType1Binding" type="tns:PortType1">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="operation1">
			<soap:operation
				soapAction="http://www.example.org/WSDlWithDocumentStyleAndFaults/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="PortType2Binding" type="tns:PortType2">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="operation2">
			<soap:operation
				soapAction="http://www.example.org/WSDlWithDocumentStyleAndFaults/operation2" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="PortType3Binding" type="tns:PortType3">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="operation4">
			<soap:operation
				soapAction="http://www.example.org/WSDlWithDocumentStyleAndFaults/operation2" />
			<wsdl:input>
				<soap:body namespace="ceco" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="ceco" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="PortType4Binding" type="tns:PortType4">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="operation6">
			<soap:operation
				soapAction="http://www.example.org/WSDlWithDocumentStyleAndFaults/operation2" />
			<wsdl:input>
				<soap:body namespace="ceco" use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="PortType5Binding" type="tns:PortType5">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="operation7">
			<soap:operation
				soapAction="http://www.example.org/WSDlWithDocumentStyleAndFaults/operation2" />
			<wsdl:output>
				<soap:body namespace="http://www.example.org/NewWSDLFile3/NewOperation" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="PortType6Binding" type="tns:PortType6">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="operation8">
			<soap:operation
				soapAction="http://www.example.org/WSDlWithDocumentStyleAndFaults/operation2" />
			<wsdl:input>
				<soap:body namespace="http://www.example.org/NewWSDLFile3/NewOperation" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://www.example.org/NewWSDLFile3/NewOperation" use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault namespace="http://www.example.org/NewWSDLFile3/NewOperation" use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="PortType7Binding" type="tns:PortType7">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="operation9">
			<soap:operation
				soapAction="http://www.example.org/WSDlWithDocumentStyleAndFaults/operation2" />
			<wsdl:input>
				<soap:body namespace="http://www.example.org/NewWSDLFile3/NewOperation" use="literal"></soap:body>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="PortType8Binding" type="tns:PortType8">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="operation10">
			<soap:operation
				soapAction="http://www.example.org/WSDlWithDocumentStyleAndFaults/operation2" />
			<wsdl:input>
				<soap:body namespace="http://www.example.org/NewWSDLFile3/NewOperation" use="literal"></soap:body>
				<soap:header  use="literal" part="PartInheader"
					message="tns:NewOperation1Response8"></soap:header>
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://www.example.org/NewWSDLFile3/NewOperation" />
				<soap:headerfault  namespace="http://www.example.org/NewWSDLFile3/NewOperation"  use="literal" part="Fault1"
					message="tns:operation10Fault" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault  namespace="http://www.example.org/NewWSDLFile3/NewOperation"   name="fault" />
				<soap:headerfault  namespace="http://www.example.org/NewWSDLFile3/NewOperation"  use="literal" part="Fault1"
					message="tns:operation10Fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WSDlWithDocumentStyleAndFaults">
		<wsdl:port binding="tns:PortType1Binding" name="PortType1Binding">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
		<wsdl:port binding="tns:PortType2Binding" name="PortType2Binding">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
