plugins/org.eclipse.wst.sse.sieditor.test/pub/simple/CommonEntities.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/CommonEntities/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommonEntities" targetNamespace="http://www.example.org/CommonEntities/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/CommonEntities/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
                    <xsd:attribute name="Attribute1"></xsd:attribute>
                </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:Element1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:simpleType name="SimpleType1"><xsd:restriction base="xsd:string"></xsd:restriction></xsd:simpleType>
            <xsd:complexType name="StructureType1"><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="Element1" type="xsd:string"></xsd:element></xsd:sequence><xsd:attribute name="Attribute1"></xsd:attribute></xsd:complexType>
            <xsd:element name="Element1"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="Element2"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:length value="5"></xsd:length></xsd:restriction></xsd:simpleType></xsd:element>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
        <wsdl:part name="Parameter1" type="xsd:string"></wsdl:part>
    </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="operationFault"><wsdl:part name="Parameter" type="xsd:string"></wsdl:part></wsdl:message>
    <wsdl:portType name="CommonEntities">
    <wsdl:operation name="operation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
            <wsdl:fault name="Fault1" message="tns:operationFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommonEntitiesSOAP" type="tns:CommonEntities">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="operation">
      <soap:operation soapAction="http://www.example.org/CommonEntities/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommonEntities">
    <wsdl:port binding="tns:CommonEntitiesSOAP" name="CommonEntitiesSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
