plugins/org.eclipse.wst.sse.sieditor.test/pub/csns/setnamespace/DefinitionWithDefaultTNSPrefixWSDLAndSchemasWithExistingPrefixes.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="DefinitionWithDefaultTNSPrefixWSDLAndSchemasWithExistingPrefixes"
	targetNamespace="http://www.example.org/NewWSDLFile/" xmlns:ns0="http://namespace1"
	xmlns:ns1="http://www.example.org/NewWSDLFile/444">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/NewWSDLFile/444"
			xmlns:ns1="http://www.example.org/NewWSDLFile/444">
			<xsd:attribute name="globalAttribute" type="xsd:string"></xsd:attribute>
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="ns1:NewOperationResponse" />
					</xsd:sequence>
					<xsd:attribute name="Attribute1" type="ns1:SimpleType1"></xsd:attribute>
					<xsd:attribute ref="ns1:globalAttribute"></xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="ns1:SimpleType1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:simpleType name="SimpleType1">
				<xsd:restriction base="xsd:string"></xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="StructureType1">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="Element1"
						type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:ns0="http://namespace1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://namespace1">
			<xsd:import namespace="http://www.example.org/NewWSDLFile/444"></xsd:import>
			<xsd:import namespace="http://www.example.org/NewWSDLFile/444"></xsd:import>
			<xsd:element name="Element1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="11" maxOccurs="111"
							ref="ns1:NewOperation"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element2">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="ns1:StructureType1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="ns1:NewOperation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="ns1:NewOperationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="Service1">
		<wsdl:operation name="ServiceOperation1">
			<wsdl:input message="NewOperationRequest" />
			<wsdl:output message="NewOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NewWSDLFileSOAP" type="Service1">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ServiceOperation1">
			<soap:operation soapAction="http://www.example.org/NewWSDLFile/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NewWSDLFile">
		<wsdl:port binding="NewWSDLFileSOAP" name="NewWSDLFileSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
