plugins/org.eclipse.wst.sse.sieditor.test/pub/csns/setnamespace/DefinitionImportingWSDLwithSameTNS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DefinitionImportingWSDLwithSameTNS"
	targetNamespace="http://www.example.org/NewWSDLFile/">
	<wsdl:import namespace="http://www.example.org/NewWSDLFile/"
		location="./DefinitionWithDefaultTNSPrefixWSDLAndSchemasWithExistingPrefixes.wsdl" />
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/NewWSDLFile/">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:NewOperation" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SameDefinitionOperationMessage">
		<wsdl:part name="SameDefinitionMessagePart" element="tns:NewOperationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ServiceInterface1">
		<wsdl:operation name="NewOperation1">
			<wsdl:input message="tns:SameDefinitionOperationMessage"></wsdl:input>
			<wsdl:output message="tns:NewOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="NewWSDLFileSOAP2" type="tns:Service1">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ServiceOperation1">
			<soap:operation soapAction="http://www.example.org/NewWSDLFile/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="ServiceInterface1">
		<wsdl:port binding="tns:NewWSDLFileSOAP" name="NewWSDLFileSOAP2">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>
