plugins/org.eclipse.wst.sse.sieditor.test/pub/import/simple/test_xsd_modeled_AS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns:jaxws="http://java.sun.com/xml/ns/jaxws"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.sap.com/caf/demo.sap.com/test_xsd/modeled/AS"
	name="AS" targetNamespace="http://www.sap.com/caf/demo.sap.com/test_xsd/modeled/AS"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<jaxws:bindings>
		<jaxws:package name="com.sap.demo.test_xsd.modeled.appsrv.as" />
	</jaxws:bindings>

	<import location="test_xsd_modeled_AS2.wsdl"
		namespace="http://www.sap.com/caf/demo.sap.com/test_xsd/modeled/AS2"></import>

	<types>
		<xsd:schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" jaxb:version="2.0"
			targetNamespace="http://www.sap.com/caf/demo.sap.com/test_xsd/modeled/AS">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:schemaBindings>
						<jaxb:package name="com.sap.demo.test_xsd.modeled.appsrv.as" />
					</jaxb:schemaBindings>
				</xsd:appinfo>
			</xsd:annotation>
			
			<!-- 
			<xsd:simpleType name="AS2_String_wsdl">
				<xsd:restriction base="Q2_imp:AS2_String2" />
			</xsd:simpleType>
			 -->
			 
			<xsd:element name="op1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0" name="inputParameter1"
							nillable="false" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="op1Response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0"
							name="outputParameter1" nillable="false" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>
	<message name="op1">
		<part element="tns:op1" name="op1" />
	</message>
	<message name="op1Response">
		<part element="tns:op1Response" name="op1Response" />
	</message>
	<portType name="AS">
		<jaxws:bindings>
			<jaxws:class name="ASSEI" />
		</jaxws:bindings>
		<operation name="op1">
			<input message="tns:op1" />
			<output message="tns:op1Response" />
		</operation>
	</portType>
	<binding name="ASBinding" type="tns:AS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="op1">
			<soap:operation
				soapAction="http://www.sap.com/caf/demo.sap.com/test_xsd/modeled/AS/op1" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="AS">
		<jaxws:bindings>
			<jaxws:class name="ASClient" />
		</jaxws:bindings>
		<port binding="tns:ASBinding" name="ASBindingPort">
			<soap:address location="http://www.example.org/" />
		</port>
	</service>
</definitions>
