plugins/org.eclipse.wst.sse.sieditor.test/data/tns/wsdl/tns_definition_not_changed.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions targetNamespace="http://www.example.org/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ns0="http://namespace1" xmlns:ihu="http://www.example.org/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/"
			xmlns:Q1="http://www.example.org/" xmlns:tns="http://www.example.org/" xmlns:ihu="http://www.example.org/">
			<xsd:element name="Element1" nillable="false">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" ref="tns:Element2"></xsd:element>
						<xsd:element minOccurs="1" maxOccurs="1" ref="ihu:Element1"></xsd:element>
						<xsd:element name="AnonymousElement">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:Element2" />
									<xsd:element minOccurs="1" maxOccurs="1" name="Element2"
										type="xsd:string"></xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element2" nillable="false">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" ref="tns:Element1"></xsd:element>
						<xsd:element name="AnotherAnonymousElement">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:Element1" />
									<xsd:element minOccurs="1" maxOccurs="1" name="Element2"
										type="xsd:string"></xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="AnonymousAttribute">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:whiteSpace value="collapse"></xsd:whiteSpace>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
            <xsd:element name="Element3"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="Element4"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
        </xsd:schema>
	</wsdl:types>
</wsdl:definitions>
