plugins/org.eclipse.wst.sse.sieditor.test/data/pub/extract/ExtractRootXMLSchemmaTest/DependentSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns2="http://namespace3" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ns1="http://namespace2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:ns0="http://namespace1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://namespace3">
	<xsd:import schemaLocation="DependentSchema1.xsd"
		namespace="http://www.example.org/NewWSDLFile/"></xsd:import>
	<xsd:simpleType name="SimpleType2">
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>
	<xsd:complexType name="StructureType1">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="Element1"
				type="ns2:SimpleType2" />
		</xsd:sequence>
		<xsd:attribute name="Attribute1" type="tns:SimpleType111" />
		<xsd:attribute ref="tns:Attribute1111" />
	</xsd:complexType>
	<xsd:complexType name="ComplexTypeComplexContent">
		<xsd:complexContent>
			<xsd:extension base="tns:StructureType1">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="Element1"
						type="xsd:string" />
				</xsd:sequence>
				<xsd:attribute name="Attribute1" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ComplexTypeSimpleContent">
		<xsd:simpleContent>
			<xsd:extension base="tns:SimpleType111">
				<xsd:attribute name="Attribute1" type="xsd:string" />
				<xsd:attribute name="Attribute2" type="xsd:string" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
