plugins/org.eclipse.wst.sse.sieditor.test/pub/import/transaction/wsdls/NewWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile"
	targetNamespace="http://www.example.org/NewWSDLFile/" xmlns:imp0="http://sap.com/xi/APPL/SE/Global" xmlns:ns0="http://www.example.org/NewWSDLFile/">



	<wsdl:types>
		<xsd:schema xmlns:ns0="http://www.example.org/NewWSDLFile/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewWSDLFile/" xmlns:Q1="http://schemas.microsoft.com/exchange/services/2006/types">
            <xsd:import schemaLocation="../types.xsd" namespace="http://schemas.microsoft.com/exchange/services/2006/types"></xsd:import>
            <xsd:element name="Element1" type="Q1:SearchExpressionType">
			</xsd:element>
			<xsd:element name="Element2">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element3">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://sap.com/xi/APPL/SE/Global"
				schemaLocation="../wsdl2.xsd"></xsd:import>
			<xsd:element name="Element3">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
        <xsd:schema xmlns:ns0="http://www.example.org/NewWSDLFile/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewWSDLFile/"></xsd:schema>
    </wsdl:types>
	<wsdl:message name="NewOperation1Request">
		<wsdl:part name="Parameter" element="tns:Element1"></wsdl:part>
		<wsdl:part name="Parameter1" type="imp0:Amount"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Response">
		<wsdl:part name="Parameter" element="tns:Element2"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ServiceInterface1">
		<wsdl:operation name="NewOperation1">
			<wsdl:input message="tns:NewOperation1Request"></wsdl:input>
			<wsdl:output message="tns:NewOperation1Response"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
