plugins/org.eclipse.wst.sse.sieditor.test/pub/import/Imported.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/Imported/wsdl"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:imp31="http://www.example.com/example3wsdl"
	xmlns:imp3_2="http://www.example.com/example2wsdl"
	xmlns:imp4="http://www.example.org/Imported/wsdl4"
	xmlns:impex4="http://www.example.com/example4wsdl"
	xmlns:ex3_1="http://www.example.com/example3_1wsdl"
	xmlns:wsdl_schema2="http://www.example.org/Imported/wsdl_schema2"
	targetNamespace="http://www.example.org/Imported/wsdl">
	
	<wsdl:import namespace="http://www.example.org/Imported/wsdl4"
		location="Imported2.wsdl" />
		
	<wsdl:import namespace="http://www.example.com/example2wsdl"
		location="Imported_example2.xsd" />
	
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/Imported/wsdl">
			<xsd:import namespace="http://www.example.com/example3wsdl"
				schemaLocation="Imported_example3.xsd" />
				
			<xsd:element name="ImportedOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		
		<xsd:schema targetNamespace="http://www.example.org/Imported/wsdl_schema2">
			<xsd:element name="comment" type="xsd:string"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="ImportedOperationRequest">
		<wsdl:part element="tns:ImportedOperation" name="importedParamWithContainedType" />
		<wsdl:part element="tns:ImportedOperation" name="importedParamWithWsiImportedType" />
		<wsdl:part element="imp31:comment" name="importedComment" />
		<wsdl:part element="imp3_2:comment" name="importedComment2" />
		<wsdl:part element="impex4:comment" name="importedComment4" />
		<wsdl:part element="ex3_1:comment" name="importedComment3_1" />
		<wsdl:part element="wsdl_schema2:comment" name="localComment" />
	</wsdl:message>
	<wsdl:message name="ImportedOperationResponse">
		<wsdl:part element="tns:NewOperationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="Imported">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:ImportedOperationRequest" />
			<wsdl:output message="tns:ImportedOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>