plugins/org.eclipse.wst.sse.sieditor.test/data/pub/csns/setnamespace/DefinitionWithTNSPrefixWSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile"
	targetNamespace="http://www.example.org/NewWSDLFile/" xmlns:ns0="http://namespace1">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/NewWSDLFile/">
			<xsd:attribute name="globalAttribute" type="xsd:string"></xsd:attribute>

			<xsd:attributeGroup name="AttributeGroup1">
				<xsd:attribute name="AttributeFromGroup1" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="AttributeFromGroup2" type="tns:SimpleType1"></xsd:attribute>
			</xsd:attributeGroup>
			<xsd:attributeGroup name="AttributeGroup2">
				<xsd:attribute name="AttributeFromGroup3" type="xsd:string"></xsd:attribute>
				<xsd:attributeGroup ref="tns:AttributeGroup1"></xsd:attributeGroup>
			</xsd:attributeGroup>

			<xsd:group name="ElementsGroup1">
				<xsd:sequence>
					<xsd:element ref="tns:NewOperationResponse" />
					<xsd:element name="ElementFromGroup1" type="tns:SimpleType1" />
					<xsd:element name="ElementFromGroup2" type="xsd:string" />
				</xsd:sequence>
			</xsd:group>

			<xsd:group name="ElementsGroup2">
				<xsd:sequence>
					<xsd:element name="Group2Element1" type="tns:SimpleType1" />
					<xsd:element name="Group2Element2" type="xsd:string" />
					<xsd:group ref="tns:ElementsGroup1"></xsd:group>
				</xsd:sequence>
			</xsd:group>

			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:NewOperationResponse" />
					</xsd:sequence>
					<xsd:attribute name="Attribute1" type="tns:SimpleType1"></xsd:attribute>
					<xsd:attribute ref="tns:globalAttribute"></xsd:attribute>
					<xsd:attributeGroup ref="tns:AttributeGroup1"></xsd:attributeGroup>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:group ref="tns:ElementsGroup1"></xsd:group>
				</xsd:complexType>
			</xsd:element>
			<xsd:simpleType name="SimpleType1">
				<xsd:restriction base="xsd:string"></xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="StructureType1">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="Element1"
						type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StructureType2">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="Element1"
						type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BaseStructureType">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="ChildElement1"
						type="xsd:string"></xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="ChildElement2"
						type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="BaseSimpleType">
				<xsd:restriction base="xsd:string"></xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>

		<xsd:schema xmlns:ns0="http://namespace1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://namespace1">
			<xsd:import namespace="http://www.example.org/NewWSDLFile/"></xsd:import>
			<xsd:element name="Element1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="childReferringStructureType" type="tns:StructureType1"></xsd:element>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="childReferringSimpleType" type="tns:SimpleType1"></xsd:element>
						<xsd:element minOccurs="1" maxOccurs="1"
							ref="tns:NewOperation"></xsd:element>
					</xsd:sequence>
					<xsd:attribute name="attributeReferringSimpleType"
						type="tns:SimpleType1"></xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element2">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							ref="tns:NewOperationResponse"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ComplexTypeComplexContent">
				<xsd:complexContent>
					<xsd:extension base="tns:BaseStructureType">
						<xsd:sequence>
							<xsd:element minOccurs="1" maxOccurs="1" name="ChildElement11"
								type="tns:SimpleType1"></xsd:element>
							<xsd:element minOccurs="1" maxOccurs="1" name="ChildElement22"
								type="tns:StructureType2"></xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="Element1" type="xsd:string"></xsd:element>
                        </xsd:sequence>
						<xsd:attribute name="Attribute1" type="xsd:string"></xsd:attribute>
						<xsd:attribute name="Attribute2" type="xsd:string"></xsd:attribute>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ComplexTypeSimpleContent">
				<xsd:simpleContent>
					<xsd:extension base="tns:BaseSimpleType">
						<xsd:attribute name="Attribute1" type="tns:SimpleType1"><xsd:annotation><xsd:documentation>some attribute1 description</xsd:documentation></xsd:annotation></xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="ClassicComplexType">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="Element1"
						type="xsd:string"></xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="Element2" type="xsd:string"></xsd:element>
                </xsd:sequence>
				<xsd:attribute name="Attribute1" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="Attribute2" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="StructureType1">
				<xsd:complexContent>
					<xsd:extension base="ns0:StructureType2">
						<xsd:sequence></xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:simpleType name="SimpleType1">
				<xsd:restriction base="xsd:string"></xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="StructureType2">
                <xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="Element1" type="xsd:string"></xsd:element></xsd:sequence>
                <xsd:attribute name="Attribute2" type="xsd:string"></xsd:attribute>
                
                        
                <xsd:attribute name="Attribute3" type="xsd:string"></xsd:attribute>
                                    
            </xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="tns:NewOperation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="tns:NewOperationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="NewWSDLFile">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NewWSDLFileSOAP" type="tns:NewWSDLFile">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation">
			<soap:operation soapAction="http://www.example.org/NewWSDLFile/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NewWSDLFile">
		<wsdl:port binding="tns:NewWSDLFileSOAP" name="NewWSDLFileSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
