plugins/org.eclipse.wst.sse.sieditor.test/data/pub/csns/validationErrorOnExpand/NewWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="asd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile"
	targetNamespace="asd" xmlns:imp0="http://www.example.org/NewWSDLFile/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/NewWSDLFile/"
			xmlns:Q1="asd_asd_asd" xmlns:Q2="http://www.example.com/IPO">
			<xsd:import schemaLocation="../../bin/schema/po.xsd"
				namespace="http://www.example.com/IPO"></xsd:import>
			<xsd:import schemaLocation="../bin/NewXMLSchema.xsd"
				namespace="asd_asd_asd"></xsd:import>
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse" type="imp0:StructureType1">
			</xsd:element>
			<xsd:complexType name="StructureType1">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="Element1"
						type="imp0:AddresssssZzZzZzZzZz"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="bbb">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"></xsd:element>
					<xsd:element name="street" type="xsd:string"></xsd:element>
					<xsd:element name="city" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:ns0="asd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="asd">
			<xsd:element name="Element1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element2">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element3">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element4">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element5">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element6">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element7">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FaultElement1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FaultElement2">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FaultElement3">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element8">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="imp0:NewOperation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="imp0:NewOperationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="NewOperation1Request">
		<!-- kon -->
		<wsdl:part name="Parameter" type="imp0:bbb"></wsdl:part>
		<wsdl:part name="Parameter2" element="tns:Element4"></wsdl:part>
		<wsdl:part name="Parameter1" element="tns:Element8"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Response">
		<wsdl:part name="Parameter2" element="tns:Element6"></wsdl:part>
		<wsdl:part name="Parameter3" element="tns:Element7"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Fault">

		<wsdl:part name="Parameter" element="tns:FaultElement1">

			<!-- vihrogon -->
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Fault1">
		<wsdl:part name="Parameter" element="tns:FaultElement2"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Fault2">
		<wsdl:part name="Parameter" element="tns:FaultElement3"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="NewWSDLFile">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
		<wsdl:operation name="NewOperation1">
			<wsdl:input message="tns:NewOperation1Request"></wsdl:input>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NewWSDLFileSOAP" type="tns:NewWSDLFile">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation">
			<soap:operation soapAction="http://www.example.org/NewWSDLFile/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NewWSDLFile">
		<wsdl:port binding="tns:NewWSDLFileSOAP" name="NewWSDLFileSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
