plugins/org.eclipse.wst.sse.sieditor.test/data/pub/csns/validationErrorOnExpand/NewWSDLFile2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/NewWSDLFile2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile2"
	targetNamespace="http://www.example.org/NewWSDLFile2/" xmlns:ns0="http://namespace1">
	<wsdl:import location="NewWSDLFile.wsdl" namespace="asd"></wsdl:import>
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/NewWSDLFile2/">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element1" type="xsd:date">
			</xsd:element>
			<xsd:element name="Element2" type="tns:StructureType1">
			</xsd:element>
			<xsd:element name="Element3" nillable="true">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" ref="tns:Element4"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:simpleType name="SimpleType1">
				<xsd:restriction base="xsd:string"></xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="StructureType1">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="Element1"
						type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Element4">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
            <xsd:element name="Element5"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="Element6"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
        </xsd:schema>
        <xsd:schema xmlns:ns0="http://namespace1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://namespace1"><xsd:element name="Element1"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence><xsd:attribute name="Attribute1" type="xsd:string"></xsd:attribute></xsd:complexType></xsd:element><xsd:element name="Element4"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="Element1" type="xsd:string"></xsd:element><xsd:element minOccurs="1" maxOccurs="1" name="Element2" type="xsd:string"></xsd:element><xsd:element minOccurs="1" maxOccurs="1" name="Element3" type="xsd:string"></xsd:element></xsd:sequence><xsd:attribute name="Attribute1" type="xsd:string"></xsd:attribute><xsd:attribute name="Attribute2" type="xsd:string"></xsd:attribute><xsd:attribute name="Attribute3" type="xsd:string"></xsd:attribute></xsd:complexType></xsd:element></xsd:schema>
    </wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="tns:NewOperation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part name="parameters2" type="xsd:boolean" />
	</wsdl:message>
	<wsdl:message name="NewOperationFault">
		<wsdl:part name="Parameter" element="tns:FaultElement1"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationFault1">
		<wsdl:part name="Parameter" element="tns:FaultElement2"></wsdl:part>
	</wsdl:message>
    <wsdl:message name="NewOperation1Request"><wsdl:part name="Parameter" element="tns:Element5"></wsdl:part></wsdl:message>
    <wsdl:message name="NewOperation1Response"><wsdl:part name="Parameter" element="tns:Element6"></wsdl:part></wsdl:message>
    <wsdl:portType name="NewWSDLFile2">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
        <wsdl:operation name="NewOperation1"><wsdl:input message="tns:NewOperation1Request"></wsdl:input><wsdl:output message="tns:NewOperation1Response"></wsdl:output></wsdl:operation>
    </wsdl:portType>
	<wsdl:binding name="NewWSDLFile2SOAP" type="tns:NewWSDLFile2">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation">
			<soap:operation soapAction="http://www.example.org/NewWSDLFile2/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NewWSDLFile2">
		<wsdl:port binding="tns:NewWSDLFile2SOAP" name="NewWSDLFile2SOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
