plugins/org.eclipse.wst.sse.sieditor.test/data/validation/DuplicateWSDLElementsERR.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n0="http://sap.com/xi/SAPGlobal20/Global" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sap.com/xi/APPL/SE/Global" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sap.com/xi/APPL/SE/Global">
	<wsdl:types>
    <xsd:schema xmlns="http://sap.com/xi/SAPGlobal20/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/APPL/SE/Global" targetNamespace="http://sap.com/xi/SAPGlobal20/Global" xmlns:Q1="http://www.example.org/NewXMLSchema">
            <xsd:import schemaLocation="wsdl/NewXMLSchema.xsd" namespace="http://www.example.org/NewXMLSchema"></xsd:import>
            <xsd:import namespace="http://sap.com/xi/APPL/SE/Global"/>
      <xsd:element name="SalesOrderByIDQuery_sync" type="xi1:SalesOrderByIDQueryMessage_sync"/>
      <xsd:element name="SalesOrderByIDResponse_sync" type="xi1:SalesOrderByIDResponseMessage_sync"/>
      <xsd:element name="StandardMessageFault" type="Q1:MyCustomType">
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns="http://sap.com/xi/APPL/SE/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/APPL/SE/Global" targetNamespace="http://sap.com/xi/APPL/SE/Global" xmlns:Q1="http://www.example.org/NewXMLSchema">
            <xsd:import schemaLocation="wsdl/NewXMLSchema.xsd" namespace="http://www.example.org/NewXMLSchema"></xsd:import>
            <xsd:simpleType name="AgencyIdentificationCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="3"/>
          <xsd:minLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Amount">
        <xsd:simpleContent>
          <xsd:extension base="AmountContent">
            <xsd:attribute name="currencyCode" use="required">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:length value="3"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="AmountContent">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="28"/>
          <xsd:fractionDigits value="6"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="BlockingReasonCode">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="BusinessTransactionDocumentID">
        <xsd:simpleContent>
          <xsd:extension base="BusinessTransactionDocumentIDContent">
            <xsd:attribute name="schemeID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"/>
                  <xsd:minLength value="1"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="schemeAgencyID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"/>
                  <xsd:minLength value="1"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="BusinessTransactionDocumentIDContent">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="35"/>
          <xsd:minLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="BusinessTransactionDocumentItemScheduleLineID">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="BusinessTransactionDocumentProcessingTypeCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="CancellationReasonCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="CancellationReasonCode.Content">
            <xsd:attribute name="listVersionID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="15"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listAgencyID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listAgencySchemeID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="CancellationReasonCode.Content">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="CurrencyCode">
        <xsd:restriction base="xsd:token">
          <xsd:length value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Date">
        <xsd:restriction base="xsd:date">
          <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="DistributionChannelCode">
        <xsd:simpleContent>
          <xsd:extension base="DistributionChannelCodeContent">
            <xsd:attribute name="listID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listVersionID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="15"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listAgencyID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listAgencySchemeID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="DistributionChannelCodeContent">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="DivisionCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="DivisionCode.Content">
            <xsd:attribute name="listID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listVersionID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="15"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listAgencyID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listAgencySchemeID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="DivisionCode.Content">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ExchangeFaultData">
        <xsd:sequence>
          <xsd:element name="faultText" type="xsd:string"/>
          <xsd:element minOccurs="0" name="faultUrl" type="xsd:string"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="faultDetail" type="ExchangeLogData"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExchangeLogData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="severity" type="xsd:string"/>
          <xsd:element name="text" type="xsd:string"/>
          <xsd:element minOccurs="0" name="url" type="xsd:string"/>
          <xsd:element minOccurs="0" name="id" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Incoterms">
        <xsd:sequence>
          <xsd:element name="ClassificationCode" type="IncotermsClassificationCode"/>
          <xsd:element minOccurs="0" name="TransferLocationName" type="IncotermsTransferLocationName"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="IncotermsClassificationCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="IncotermsTransferLocationName">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="28"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="80"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="LONG_Name">
        <xsd:simpleContent>
          <xsd:extension base="LONG_NameContent">
            <xsd:attribute name="languageCode" type="LanguageCode"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="LONG_NameContent">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="80"/>
          <xsd:minLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LanguageCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:language">
          <xsd:maxLength value="9"/>
          <xsd:minLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Log">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="BusinessDocumentProcessingResultCode" type="ProcessingResultCode"/>
          <xsd:element minOccurs="0" name="MaximumLogItemSeverityCode" type="LogItemSeverityCode"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Item" type="LogItem"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LogItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="TypeID">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:maxLength value="40"/>
                <xsd:minLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CategoryCode" type="LogItemCategoryCode"/>
          <xsd:element minOccurs="0" name="SeverityCode" type="LogItemSeverityCode"/>
          <xsd:element name="Note">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="200"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="WebURI" type="WebURI"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LogItemCategoryCode">
        <xsd:simpleContent>
          <xsd:extension base="LogItemCategoryCodeContent">
            <xsd:attribute name="listAgencyID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"/>
                  <xsd:minLength value="1"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listVersionID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="15"/>
                  <xsd:minLength value="1"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listAgencySchemeID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"/>
                  <xsd:minLength value="1"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listAgencySchemeAgencyID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="3"/>
                  <xsd:minLength value="1"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="LogItemCategoryCodeContent">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="15"/>
          <xsd:minLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogItemSeverityCode">
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="1"/>
          <xsd:enumeration value="2"/>
          <xsd:enumeration value="3"/>
          <xsd:enumeration value="4"/>
          <xsd:length value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Measure">
        <xsd:simpleContent>
          <xsd:extension base="MeasureContent">
            <xsd:attribute name="unitCode" use="required">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="3"/>
                  <xsd:minLength value="1"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="MeasureContent">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="19"/>
          <xsd:fractionDigits value="6"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="MeasureUnitCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="3"/>
          <xsd:minLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PartialDeliveryControlCode">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="2"/>
          <xsd:minLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="PartyInternalID">
        <xsd:simpleContent>
          <xsd:extension base="PartyInternalIDContent">
            <xsd:attribute name="schemeID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"/>
                  <xsd:minLength value="1"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="schemeAgencyID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"/>
                  <xsd:minLength value="1"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="PartyInternalIDContent">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32"/>
          <xsd:minLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Price">
        <xsd:sequence>
          <xsd:element name="Amount" type="Amount"/>
          <xsd:element name="BaseQuantity" type="Quantity"/>
          <xsd:element minOccurs="0" name="BaseQuantityTypeCode" type="QuantityTypeCode"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="PriorityValue">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13"/>
          <xsd:fractionDigits value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ProcessingResultCode">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="2"/>
          <xsd:minLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ProductPartyID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="60"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Quantity">
        <xsd:simpleContent>
          <xsd:extension base="QuantityContent">
            <xsd:attribute name="unitCode" type="MeasureUnitCode"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="QuantityContent">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="31"/>
          <xsd:fractionDigits value="14"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="QuantityTypeCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="QuantityTypeCode.Content">
            <xsd:attribute name="listID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"/>
                  <xsd:minLength value="1"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listVersionID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="15"/>
                  <xsd:minLength value="1"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listAgencyID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"/>
                  <xsd:minLength value="1"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listAgencySchemeID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"/>
                  <xsd:minLength value="1"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="QuantityTypeCode.Content">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="10"/>
          <xsd:minLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="SHORT_Description">
        <xsd:simpleContent>
          <xsd:extension base="SHORT_Description.Content">
            <xsd:attribute name="languageCode" type="LanguageCode"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="SHORT_Description.Content">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="SalesOrderByIDQueryMessage_sync">
        <xsd:sequence>
          <xsd:element name="SalesOrderSelectionByID">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="SalesOrderID" type="SalesOrderID"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SalesOrderByIDResponseMessage_sync">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="SalesOrder">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="ID" type="SalesOrderID"/>
                <xsd:element minOccurs="0" name="Date" type="Date"/>
                <xsd:element minOccurs="0" name="ProcessingTypeCode" type="BusinessTransactionDocumentProcessingTypeCode"/>
                <xsd:element minOccurs="0" name="BuyerID" type="BusinessTransactionDocumentID"/>
                <xsd:element minOccurs="0" name="DeliveryBlockingReasonCode" type="BlockingReasonCode"/>
                <xsd:element minOccurs="0" name="InvoiceBlockingReasonCode" type="BlockingReasonCode"/>
                <xsd:element name="BuyerParty">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="InternalID" type="PartyInternalID"/>
                      <xsd:element minOccurs="0" name="FormattedName" type="LONG_Name"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="GoodsRecipientParty">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="InternalID" type="PartyInternalID"/>
                      <xsd:element minOccurs="0" name="FormattedName" type="LONG_Name"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="BillToParty">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="InternalID" type="PartyInternalID"/>
                      <xsd:element minOccurs="0" name="FormattedName" type="LONG_Name"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="PayerParty">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="InternalID" type="PartyInternalID"/>
                      <xsd:element minOccurs="0" name="FormattedName" type="LONG_Name"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ResponsibleEmployeeParty">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="InternalID" type="PartyInternalID"/>
                      <xsd:element minOccurs="0" name="FormattedName" type="LANGUAGEINDEPENDENT_LONG_Name"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="SalesOrganisationParty">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="InternalID" type="PartyInternalID"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="SalesTerms">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="DistributionChannelCode" type="DistributionChannelCode"/>
                      <xsd:element minOccurs="0" name="DivisionCode" type="DivisionCode"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="DateTerms">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="RequestDate" type="Date"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="PricingTerms">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="CurrencyCode" type="CurrencyCode"/>
                      <xsd:element minOccurs="0" name="PriceDeterminationDate" type="Date"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="TotalValues">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="GrossWeightMeasure" type="Measure"/>
                      <xsd:element minOccurs="0" name="NetAmount" type="Amount"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="DeliveryTerms">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="Incoterms" type="Incoterms"/>
                      <xsd:element minOccurs="0" name="PartialDeliveryControlCode" type="PartialDeliveryControlCode"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="InvoiceTerms">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="InvoicingDate" type="Date"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="Item">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="ID" type="SalesOrderItemID"/>
                      <xsd:element minOccurs="0" name="Description" type="SHORT_Description"/>
                      <xsd:element minOccurs="0" name="CancellationReasonCode" type="CancellationReasonCode"/>
                      <xsd:element minOccurs="0" name="InvoiceBlockingReasonCode" type="BlockingReasonCode"/>
                      <xsd:element minOccurs="0" name="Product">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="SellerID" type="ProductPartyID"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="BuyerParty">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="InternalID" type="PartyInternalID"/>
                            <xsd:element minOccurs="0" name="FormattedName" type="LONG_Name"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="GoodsRecipientParty">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="InternalID" type="PartyInternalID"/>
                            <xsd:element minOccurs="0" name="FormattedName" type="LONG_Name"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="BillToParty">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="InternalID" type="PartyInternalID"/>
                            <xsd:element minOccurs="0" name="FormattedName" type="LONG_Name"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="PayerParty">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="InternalID" type="PartyInternalID"/>
                            <xsd:element minOccurs="0" name="FormattedName" type="LONG_Name"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ResponsibleEmployeeParty">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="InternalID" type="PartyInternalID"/>
                            <xsd:element minOccurs="0" name="FormattedName" type="LANGUAGEINDEPENDENT_LONG_Name"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="SalesOrganisationParty">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="InternalID" type="PartyInternalID"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="SalesTerms">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="DistributionChannelCode" type="DistributionChannelCode"/>
                            <xsd:element minOccurs="0" name="DivisionCode" type="DivisionCode"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="DeliveryTerms">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="PriorityValue" type="PriorityValue"/>
                            <xsd:element minOccurs="0" name="Incoterms" type="Incoterms"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="InvoiceTerms">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="InvoiceDate" type="Date"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="TotalValues">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="RequestedQuantity" type="Quantity"/>
                            <xsd:element minOccurs="0" name="ConfirmedQuantity" type="Quantity"/>
                            <xsd:element minOccurs="0" name="GrossWeightMeasure" type="Measure"/>
                            <xsd:element minOccurs="0" name="NetWeightMeasure" type="Measure"/>
                            <xsd:element minOccurs="0" name="VolumeMeasure" type="Measure"/>
                            <xsd:element minOccurs="0" name="NetAmount" type="Amount"/>
                            <xsd:element minOccurs="0" name="NetPrice" type="Price"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ScheduleLine">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="ID" type="BusinessTransactionDocumentItemScheduleLineID"/>
                            <xsd:element minOccurs="0" name="Date" type="Date"/>
                            <xsd:element minOccurs="0" name="RequestedQuantity" type="Quantity"/>
                            <xsd:element minOccurs="0" name="ConfirmedQuantity" type="Quantity"/>
                            <xsd:element minOccurs="0" name="DeliveryBlockingReasonCode" type="BlockingReasonCode"/>
                            <xsd:element minOccurs="0" name="ReceiptTime" type="Time"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="Log" type="Log"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SalesOrderID">
        <xsd:simpleContent>
          <xsd:extension base="SalesOrderIDContent">
            <xsd:attribute name="schemeAgencyID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="SalesOrderIDContent">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="SalesOrderItemID">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="6"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Time">
        <xsd:restriction base="xsd:time">
          <xsd:pattern value="[^:]{2}:[^:]{2}:[^:]{2}"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="WebURI">
        <xsd:restriction base="xsd:anyURI"/>
      </xsd:simpleType>
            <xsd:element name="Element1" type="Q1:MyCustomType"></xsd:element>
            <xsd:element name="Element2"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" ref="Q1:MyCustomElement"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="Element3"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="Element4"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="Element5"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="Element6"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="Element7"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="Element8"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="Element9"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="Element10"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="FaultElement1"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="FaultElement2"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="Element11"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="Element12"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="Element13"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="Element14"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="Element15"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="Element16"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="Element17"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="Element18"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SalesOrderByIDQuery_sync">
    <wsdl:part element="n0:SalesOrderByIDQuery_sync" name="parameters"/>
    <wsdl:part element="tns:Element3" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="SalesOrderByIDResponse_sync">
    <wsdl:part element="n0:SalesOrderByIDResponse_sync" name="parameters"/>
  </wsdl:message>
   <wsdl:message name="SalesOrderByIDResponse_sync">
    <wsdl:part element="n0:SalesOrderByIDResponse_sync" name="parameters1"/>
  </wsdl:message>
  <wsdl:message name="exception00">
    <wsdl:part element="n0:StandardMessageFault" name="exception00"/>
  </wsdl:message>
    <wsdl:message name="NewOperation1Request"><wsdl:part name="Parameter" element="tns:Element4"></wsdl:part></wsdl:message>
    <wsdl:message name="NewOperation1Response"><wsdl:part name="Parameter" element="tns:Element5"></wsdl:part><wsdl:part name="Parameter" element="tns:Element6"></wsdl:part></wsdl:message>
    <wsdl:message name="NewOperation1Request1"><wsdl:part name="Parameter" element="tns:Element7"></wsdl:part></wsdl:message>
    <wsdl:message name="NewOperation1Response1"><wsdl:part name="Parameter" element="tns:Element8"></wsdl:part></wsdl:message>
    <wsdl:message name="NewOperation2Request"><wsdl:part name="Parameter" element="tns:Element9"></wsdl:part></wsdl:message>
    <wsdl:message name="NewOperation2Response"><wsdl:part name="Parameter" element="tns:Element10"></wsdl:part></wsdl:message>
    <wsdl:message name="NewOperation1Fault"><wsdl:part name="Parameter" element="tns:FaultElement1"></wsdl:part></wsdl:message>
    <wsdl:message name="NewOperation1Fault1"><wsdl:part name="Parameter" element="tns:FaultElement2"></wsdl:part></wsdl:message>
    <wsdl:message name="NewOperation1Request2"><wsdl:part name="Parameter" element="tns:Element11"></wsdl:part></wsdl:message>
    <wsdl:message name="NewOperation1Response2"><wsdl:part name="Parameter" element="tns:Element12"></wsdl:part></wsdl:message>
    <wsdl:message name="NewOperation2Request1"><wsdl:part name="Parameter" element="tns:Element13"></wsdl:part></wsdl:message>
    <wsdl:message name="NewOperation2Response1"><wsdl:part name="Parameter" element="tns:Element14"></wsdl:part></wsdl:message>
    <wsdl:message name="NewOperation1Request3"><wsdl:part name="Parameter" element="tns:Element15"></wsdl:part></wsdl:message>
    <wsdl:message name="NewOperation1Response3"><wsdl:part name="Parameter" element="tns:Element16"></wsdl:part></wsdl:message>
    <wsdl:message name="NewOperation1Request4"><wsdl:part name="Parameter" element="tns:Element17"></wsdl:part></wsdl:message>
    <wsdl:message name="NewOperation1Response4"><wsdl:part name="Parameter" element="tns:Element18"></wsdl:part></wsdl:message>
    <wsdl:portType name="SalesOrderByIDQueryResponse_In">
    <wsdl:operation name="SalesOrderByIDQueryResponse_In">
      <wsdl:input message="tns:SalesOrderByIDQuery_sync"/>
      <wsdl:output message="tns:SalesOrderByIDResponse_sync"/>
      <wsdl:fault message="tns:exception00" name="exception00"/>
    </wsdl:operation>
  </wsdl:portType>
    <wsdl:portType name="ServiceInterface1"><wsdl:operation name="NewOperation1"><wsdl:input message="tns:NewOperation1Request"></wsdl:input><wsdl:output message="tns:NewOperation1Response"></wsdl:output></wsdl:operation></wsdl:portType>
    <wsdl:portType name="ServiceInterface2"><wsdl:operation name="NewOperation1"><wsdl:input message="tns:NewOperation1Request1"></wsdl:input><wsdl:output message="tns:NewOperation1Response1"></wsdl:output><wsdl:fault name="Fault1" message="tns:NewOperation1Fault"></wsdl:fault><wsdl:fault name="Fault1" message="tns:NewOperation1Fault1"></wsdl:fault></wsdl:operation></wsdl:portType>
    <wsdl:portType name="ServiceInterface3"><wsdl:operation name="NewOperation1"><wsdl:input message="tns:NewOperation1Request2"></wsdl:input><wsdl:output message="tns:NewOperation1Response2"></wsdl:output></wsdl:operation><wsdl:operation name="NewOperation1"><wsdl:input message="tns:NewOperation2Request1"></wsdl:input><wsdl:output message="tns:NewOperation2Response1"></wsdl:output></wsdl:operation></wsdl:portType>
    <wsdl:portType name="ServiceInterface4"><wsdl:operation name="NewOperation1"><wsdl:input message="tns:NewOperation1Request3"></wsdl:input><wsdl:output message="tns:NewOperation1Response3"></wsdl:output></wsdl:operation></wsdl:portType>
    <wsdl:portType name="ServiceInterface4"><wsdl:operation name="NewOperation1"><wsdl:input message="tns:NewOperation1Request4"></wsdl:input><wsdl:output message="tns:NewOperation1Response4"></wsdl:output></wsdl:operation></wsdl:portType>
    <wsdl:binding name="SalesOrderByIDQueryResponse_InSoapBinding" type="tns:SalesOrderByIDQueryResponse_In">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SalesOrderByIDQueryResponse_In">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception00">
        <soap:fault name="exception00" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalesOrderByIDQueryResponse_InService">
    <wsdl:port binding="tns:SalesOrderByIDQueryResponse_InSoapBinding" name="SalesOrderByIDQueryResponse_InSoapBinding">
      <soap:address location="http://usai1q2o.wdf.sap.corp:50020/sap/bc/srt/xip/sap/ECC_SALESORDER002QR?sap-client=003"/>
    </wsdl:port>
	<wsdl:port binding="tns:SalesOrderByIDQueryResponse_InSoapBinding"
		name="SalesOrderByIDQueryResponse_InSoapBinding">
		<soap:address
			location="http://usai1q2o.wdf.sap.corp:50020/sap/bc/srt/xip/sap/ECC_SALESORDER002QR?sap-client=003" />
	</wsdl:port>
  </wsdl:service>
</wsdl:definitions>
