plugins/org.eclipse.wst.sse.sieditor.test/data/validation/FaultErrorMarker.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://www.example.org/FaultErrorMarker/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FaultErrorMarker" targetNamespace="http://www.example.org/FaultErrorMarker/"><wsdl:types><xsd:schema xmlns:ns0="http://www.example.org/FaultErrorMarker/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/FaultErrorMarker/"><xsd:element name="Element1"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="Element2"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element></xsd:schema></wsdl:types><wsdl:message name="NewOperation1Request"><wsdl:part name="Parameter" element="tns:Element1"></wsdl:part></wsdl:message><wsdl:message name="NewOperation1Response"><wsdl:part name="Parameter" element="tns:Element2"></wsdl:part></wsdl:message><wsdl:message name="NewOperation1Fault"><wsdl:part name="Parameter" element="tns:FaultElement1"></wsdl:part></wsdl:message><wsdl:portType name="ServiceInterface1"><wsdl:operation name="NewOperation1"><wsdl:input message="tns:NewOperation1Request"></wsdl:input><wsdl:output message="tns:NewOperation1Response"></wsdl:output><wsdl:fault name="Fault1" message="tns:NewOperation1Fault"></wsdl:fault></wsdl:operation></wsdl:portType></wsdl:definitions>
