plugins/org.eclipse.wst.sse.sieditor.test/data/validation/WSDLWithRPCandDOcumentStyleBindings.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/NewWSDLFile3/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile3"
	targetNamespace="http://www.example.org/NewWSDLFile3/" xmlns:ns0="http://org.dido.customer">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/NewWSDLFile3/"
			xmlns:Q1="http://org.dido.employee">
			<xsd:import schemaLocation="bin/employee.xsd" namespace="http://org.dido.employee"></xsd:import>
			<xsd:import schemaLocation="bin/customer.xsd" namespace="http://org.dido.customer"></xsd:import>
			<xsd:import namespace="http://org.dido.customer"
				schemaLocation="customer.xsd" />
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse" type="tns:StructureType1">
			</xsd:element>
			<xsd:element name="Element1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							nillable="true" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element2">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element3">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element4">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element5">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element6">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element7">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element8">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element9">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element10">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FaultElement1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FaultElement2">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FaultElement3">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element11">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element12">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element13">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element14">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element15">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element16">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element17">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element18">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element19">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element20">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element21">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element22">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FaultElement4">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FaultElement5">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FaultElement6">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="StructureType1">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1"
						ref="Q1:EmployeeMessage"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Element23">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element24">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element25">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element26">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element27">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element28">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element29">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element30">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element31">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element32">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element33">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element34">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element35">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
            <xsd:element name="Element36"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="Element37"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="Element38"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
        </xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import schemaLocation="bin/customer.xsd" namespace="http://org.dido.customer"></xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="tns:NewOperation" name="parameters" />
		<wsdl:part name="Parameter1" type="xsd:boolean"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="tns:NewOperationResponse" name="parameters" />
		<wsdl:part name="Parameter1" type="xsd:duration"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Request">
		<wsdl:part name="Parameter" element="tns:Element2"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Response">
		<wsdl:part name="Parameter" element="tns:Element3"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Request1">
		<wsdl:part name="Parameter1" type="xsd:byte"></wsdl:part>
		<wsdl:part name="Parameter2" type="xsd:base64Binary"></wsdl:part>
		<wsdl:part name="Parameter3" element="ns0:CustomerMessage"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Response1">
		<wsdl:part name="Parameter" type="xsd:date"></wsdl:part>
		<wsdl:part name="Parameter1" element="tns:Element29"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation2Request">
		<wsdl:part name="Parameter1" type="xsd:date"></wsdl:part>
		<wsdl:part name="Parameter2" type="xsd:anySimpleType"></wsdl:part>
		<wsdl:part name="Parameter3" type="xsd:double"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation2Response">
		<wsdl:part name="Parameter" type="xsd:anyURI"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Fault">
		<wsdl:part name="Parameter" element="tns:FaultElement1"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Fault1">
		<wsdl:part name="Parameter" element="tns:FaultElement2"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Fault2">
		<wsdl:part name="Parameter" element="tns:FaultElement3"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation3Request">
		<wsdl:part name="Parameter1" element="tns:Element21"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation3Response">
		<wsdl:part name="Parameter" element="tns:Element15"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationFault">
		<wsdl:part name="Parameter" element="tns:FaultElement4"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationFault1">
		<wsdl:part name="Parameter" element="tns:FaultElement5"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation3Fault">
		<wsdl:part name="Parameter" element="tns:FaultElement6"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation4Request">
		<wsdl:part name="Parameter" element="tns:Element25"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation4Response">
		<wsdl:part name="Parameter" element="tns:Element26"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation5Request">
		<wsdl:part name="Parameter" element="tns:Element27"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation5Response">
		<wsdl:part name="Parameter" element="tns:Element28"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation6Request">
		<wsdl:part name="Parameter" element="tns:Element30"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation6Response">
		<wsdl:part name="Parameter" element="tns:Element31"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation7Request">
		<wsdl:part name="Parameter" element="tns:Element32"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation7Response">
		<wsdl:part name="Parameter" element="tns:Element33"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation8Request">
		<wsdl:part name="Parameter" element="tns:Element34"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation8Response">
		<wsdl:part name="Parameter" element="tns:Element35"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="SetUserOofSettingsSoapIn">
		<wsdl:part element="tns:Element1" name="SetUserOofSettingsRequest" />
    </wsdl:message>
	<wsdl:message name="SetUserOofSettingsSoapOut">
		<wsdl:part element="tns:Element2" name="SetUserOofSettingsResult" />
		<wsdl:part element="tns:Element3" name="ServerVersion" />
        <wsdl:part name="Parameter1" element="tns:Element38"></wsdl:part>
    </wsdl:message>
	
	<wsdl:portType name="PortTypeWithManyParameters">
		<wsdl:operation name="documentStyleBindingOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="Service">
		<wsdl:operation name="NewOperation1">
			<wsdl:input message="tns:NewOperation1Request1"></wsdl:input>
			<wsdl:output message="tns:NewOperation1Response1"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NewOperation2">
			<wsdl:input message="tns:NewOperation2Request"></wsdl:input>
			<wsdl:output message="tns:NewOperation2Response"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NewOperation3">
			<wsdl:input message="tns:NewOperation3Request"></wsdl:input>
			<wsdl:output message="tns:NewOperation3Response"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NewOperation4">
			<wsdl:input message="tns:NewOperation4Request"></wsdl:input>
			<wsdl:output message="tns:NewOperation4Response"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NewOperation5">
			<wsdl:input message="tns:NewOperation5Request"></wsdl:input>
			<wsdl:output message="tns:NewOperation5Response"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NewOperation6">
			<wsdl:input message="tns:NewOperation6Request"></wsdl:input>
			<wsdl:output message="tns:NewOperation6Response"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NewOperation7">
			<wsdl:input message="tns:NewOperation7Request"></wsdl:input>
			<wsdl:output message="tns:NewOperation7Response"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NewOperation8">
			<wsdl:input message="tns:NewOperation8Request"></wsdl:input>
			<wsdl:output message="tns:NewOperation8Response"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="FINAL">
		<wsdl:operation name="SetUserOofSettings">
			<wsdl:input message="tns:SetUserOofSettingsSoapIn" />
			<wsdl:output message="tns:SetUserOofSettingsSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NewWSDLFile3SOAP" type="tns:PortTypeWithManyParameters">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="documentStyleBindingOperation">
			<soap:operation soapAction="http://www.example.org/NewWSDLFile3/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="newServoce" type="tns:Service">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation1">
			<soap:operation soapAction="http://www.example.org/NewWSDLFile3/NewOperation" />
			<wsdl:input>
				<soap:body namespace="http://www.example.org/NewWSDLFile3/NewOperation"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://www.example.org/NewWSDLFile3/NewOperation"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NewOperation2">
			<soap:operation soapAction="http://www.example.org/NewWSDLFile3/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://www.example.org/NewWSDLFile3/NewOperation"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NewOperation6">
			<soap:operation soapAction="http://www.example.org/NewWSDLFile3/NewOperation" />
			<wsdl:input>
				<soap:body namespace="http://www.example.org/NewWSDLFile3/NewOperation"
					use="encoded" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://www.example.org/NewWSDLFile3/NewOperation"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="new" type="tns:Service">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation3">
			<soap:operation soapAction="http://www.example.org/NewWSDLFile3/NewOperation" />
			<wsdl:input>
				<soap:body namespace="http://www.example.org/NewWSDLFile3/NewOperation"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NewOperation5">
			<soap:operation soapAction="http://www.example.org/NewWSDLFile3/NewOperation" />
			<wsdl:input>
				<soap:body use="encoded" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="newBinding1" type="tns:Service">
		<soap:binding style="document" />
		<wsdl:operation name="NewOperation7">
			<soap:operation soapAction="http://www.example.org/NewWSDLFile3/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="newBinding2" type="tns:Service">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/htp" />
		<wsdl:operation name="NewOperation8">
			<soap:operation soapAction="http://www.example.org/NewWSDLFile3/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="FINALSOAP" type="tns:FINAL">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SetUserOofSettings">
			<soap:operation
				soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/SetUserOofSettings" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="SetUserOofSettingsResult" use="literal" />
				<soap:header message="tns:SetUserOofSettingsSoapOut"
					part="ServerVersion" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NewWSDLFile3">
		<wsdl:port binding="tns:newServoce" name="newServoce">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
		<wsdl:port binding="tns:new" name="new">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
		<wsdl:port binding="tns:newBinding1" name="newBinding1">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
