plugins/org.eclipse.wst.sse.sieditor.test/pub/csns/NonReconcilatingTest/NamespaceIncludesXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://namespace2" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://namespace2" elementFormDefault="qualified">
	<element name="ElementImport1">
		<complexType>
			<sequence>
				<element minOccurs="1" maxOccurs="1" name="string" type="string"></element>
			</sequence>
		</complexType>
	</element>
	<complexType name="StructureTypeImport1">
		<sequence>
			<element minOccurs="1" maxOccurs="1" name="Element1" type="string"></element>
		</sequence>
		<attribute name="Attribute1" type="string"></attribute>
	</complexType>
</schema>