plugins/org.eclipse.wst.sse.sieditor.test/data/pub/simple/SimpleTypeFacetsTestWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/SimpleTypeFacetsTestWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimpleTypeFacetsTestWSDLFile" targetNamespace="http://www.example.org/SimpleTypeFacetsTestWSDLFile/" xmlns:ns0="http://namespace1">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/SimpleTypeFacetsTestWSDLFile/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:simpleType name="SimpleTypeFromString"><xsd:restriction base="xsd:string"></xsd:restriction></xsd:simpleType>
            <xsd:simpleType name="SimpleTypeFromInt"><xsd:restriction base="xsd:int"></xsd:restriction></xsd:simpleType>
            <xsd:simpleType name="SimpleTypeFromFloat"><xsd:restriction base="xsd:float"></xsd:restriction></xsd:simpleType>
            <xsd:simpleType name="SimpleTypeFromDate"><xsd:restriction base="xsd:date"></xsd:restriction></xsd:simpleType>
            <xsd:simpleType name="SimpleTypeFromBoolean"><xsd:restriction base="xsd:boolean"></xsd:restriction></xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:NewOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SimpleTypeFacetsTestWSDLFile">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimpleTypeFacetsTestWSDLFileSOAP" type="tns:SimpleTypeFacetsTestWSDLFile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/SimpleTypeFacetsTestWSDLFile/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleTypeFacetsTestWSDLFile">
    <wsdl:port binding="tns:SimpleTypeFacetsTestWSDLFileSOAP" name="SimpleTypeFacetsTestWSDLFileSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
