plugins/org.eclipse.wst.sse.sieditor.test/pub/self/mix2/Sample1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Sample1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Sample1" targetNamespace="http://www.example.org/Sample1/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/Sample1/">
      <xsd:element name="First">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FirstResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Second">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="SecondResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="Third">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ThirdResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="One">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="OneResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="Two">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="TwoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="Three">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ThreeResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="First_fault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="First_fault" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="First_fault1">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="First_fault1" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="Response">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="Second_fault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="Second_fault" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
            <xsd:simpleType name="MySimpleType1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30"/>
        </xsd:restriction>
      </xsd:simpleType>
            <xsd:element name="NewOperation0Parameter">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="NewOperation0Parameter" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="NewOperation0Parameter0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="NewOperation0Parameter0" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FirstRequest">
    <wsdl:part element="tns:First" name="parameters"/>
    <wsdl:part name="NewPart1" type="xsd:string"/>
    <wsdl:part name="NewPart2" type="xsd:string"/>
        <wsdl:part name="Parameter0" type="xsd:string"/>
    </wsdl:message>
  <wsdl:message name="FirstResponse">
    <wsdl:part element="tns:FirstResponse" name="parameters"/>
    <wsdl:part name="NewPart1" type="xsd:string"/>
    <wsdl:part name="NewPart2" type="xsd:string"/>
        <wsdl:part name="Parameter0" type="xsd:string"/>
    </wsdl:message>
  <wsdl:message name="SecondRequest">
  	<wsdl:part element="tns:Second" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SecondResponse">
  	<wsdl:part element="tns:SecondResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ThirdRequest">
  	<wsdl:part element="tns:Third" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ThirdResponse">
  	<wsdl:part element="tns:ThirdResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="OneRequest">
  	<wsdl:part element="tns:One" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="OneResponse">
  	<wsdl:part element="tns:OneResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="TwoRequest">
  	<wsdl:part element="tns:Two" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="TwoResponse">
  	<wsdl:part element="tns:TwoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ThreeRequest">
  	<wsdl:part element="tns:Three" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ThreeResponse">
  	<wsdl:part element="tns:ThreeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="First_faultMsg">
  	<wsdl:part element="tns:First_fault" name="parameters"/>
  	<wsdl:part name="NewPart1" type="xsd:string"/>
  	<wsdl:part name="NewPart2" type="xsd:string"/>
        <wsdl:part name="Parameter0" type="xsd:string"/>
    </wsdl:message>
  <wsdl:message name="First_fault1Msg">
  	<wsdl:part element="tns:First_fault1" name="parameters"/>
  	<wsdl:part name="NewPart1" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="Second_faultMsg">
  	<wsdl:part element="tns:Second_fault" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="NewOperation0Request">
    <wsdl:part element="tns:NewOperation0Parameter" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="NewOperation0Response">
    <wsdl:part element="tns:NewOperation0Parameter0" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="FirstFault">
    <wsdl:part name="parameters" type="xsd:string"/>
  </wsdl:message>
    <wsdl:portType name="ServiceInterface1">
    <wsdl:operation name="First">
      <wsdl:input message="tns:FirstRequest"/>
      <wsdl:output message="tns:FirstResponse"/>
            <wsdl:fault message="tns:First_faultMsg" name="fault"/>
            <wsdl:fault message="tns:First_fault1Msg" name="fault1"/>
            <wsdl:fault message="tns:FirstFault" name="Fault0"/>
        </wsdl:operation>
    <wsdl:operation name="Second">
    	<wsdl:input message="tns:SecondRequest"/>

        </wsdl:operation>
    <wsdl:operation name="Third">
    	<wsdl:input message="tns:ThirdRequest"/>
    	<wsdl:output message="tns:ThirdResponse"/>
    </wsdl:operation>

        <wsdl:operation name="NewOperation0">
      <wsdl:input message="tns:NewOperation0Request"/>
      <wsdl:output message="tns:NewOperation0Response"/>
    </wsdl:operation>
    </wsdl:portType>
  <wsdl:portType name="ServiceInterface2">
  	<wsdl:operation name="One">
  		<wsdl:input message="tns:OneRequest"/>
  		<wsdl:output message="tns:OneResponse"/>
  	</wsdl:operation>
  	<wsdl:operation name="Two">
  		<wsdl:input message="tns:TwoRequest"/>
  		<wsdl:output message="tns:TwoResponse"/>
  	</wsdl:operation>
  	<wsdl:operation name="Three">


  	</wsdl:operation>
  </wsdl:portType>
    <wsdl:portType name="ServiceInterface0"/>
    <wsdl:binding name="Sample1SOAP" type="tns:ServiceInterface1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="First">
      <soap:operation soapAction="http://www.example.org/Sample1/First"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="Sample1">
    <wsdl:port binding="tns:Sample1SOAP" name="Sample1SOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
