plugins/org.eclipse.wst.sse.sieditor.test/pub/csns/resolveImportedSchemas/aaa.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="empty" targetNamespace="http://www.example.org/empty/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/empty/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema xmlns:ns0="http://www.example.org/empty/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/empty/">
			<xsd:element name="Element1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Element2">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="string"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperation1Request">
		<wsdl:part name="Parameter" element="tns:Element1"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Response">
		<wsdl:part name="Parameter" element="tns:Element2"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ServiceInterface1">
		<wsdl:operation name="NewOperation1">
			<wsdl:input message="tns:NewOperation1Request"></wsdl:input>
			<wsdl:output message="tns:NewOperation1Response"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>