plugins/org.eclipse.wst.sse.sieditor.test/pub/csns/csn_1038868_2010.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:n0="http://sap.com/xi/SAPGlobal20/Global" xmlns:n1="http://www.sap.com/webas/630/soap/features/authentication/"
	xmlns:sap="http://www.sap.com/webas/630/wsdl/features" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://sap.com/xi/APPL/SE/Global" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sap.com/xi/APPL/SE/Global"
	xmlns:ns0="http://namespace1">
	<wsdl:types>
		<xsd:schema xmlns="http://sap.com/xi/SAPGlobal20/Global"
			xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
			xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/APPL/SE/Global"
			targetNamespace="http://sap.com/xi/SAPGlobal20/Global">
			<xsd:import namespace="http://sap.com/xi/APPL/SE/Global" />
			<xsd:element name="BatchByIDQuery_sync" type="xi1:BatchByIDQueryMessage_sync" />
			<xsd:element name="BatchByIDResponse_sync" type="xi1:BatchByIDResponseMessage_sync" />
			<xsd:element name="StandardMessageFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="standard" type="xi1:ExchangeFaultData" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema xmlns="http://sap.com/xi/APPL/SE/Global"
			xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
			xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/APPL/SE/Global"
			targetNamespace="http://sap.com/xi/APPL/SE/Global">
			<xsd:simpleType name="ATTRIBUTEINDEPENDENT_UUID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:length value="36" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ActionCode">
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="01" />
					<xsd:enumeration value="02" />
					<xsd:enumeration value="03" />
					<xsd:enumeration value="04" />
					<xsd:enumeration value="05" />
					<xsd:length value="2" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="AgencyIdentificationCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="3" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Amount">
				<xsd:simpleContent>
					<xsd:extension base="AmountContent">
						<xsd:attribute name="currencyCode" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:length value="3" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="AmountContent">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="28" />
					<xsd:fractionDigits value="6" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Attachment">
				<xsd:simpleContent>
					<xsd:extension base="xsd:normalizedString">
						<xsd:attribute name="id" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="35" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="fileName">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="70" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="my_type">
				<xsd:attribute name="schemeID">
					<xsd:simpleType>
						<xsd:restriction base="xsd:token">
							<xsd:maxLength value="60" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="BasicBusinessDocumentMessageHeader">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="ID"
						type="BusinessDocumentMessageID" />
					<xsd:element minOccurs="0" name="UUID"
						type="ATTRIBUTEINDEPENDENT_UUID" />
					<xsd:element minOccurs="0" name="ReferenceID"
						type="BusinessDocumentMessageID" />
					<xsd:element minOccurs="0" name="ReferenceUUID"
						type="ATTRIBUTEINDEPENDENT_UUID" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BatchByIDQueryMessage_sync">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="MessageHeader">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="BasicBusinessDocumentMessageHeader"
									type="BasicBusinessDocumentMessageHeader" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="BatchSelectionByID">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ID" type="BatchID" />
								<xsd:element name="MaterialInternalID" type="ProductInternalID" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BatchByIDResponseMessage_sync">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="MessageHeader">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="BasicBusinessDocumentMessageHeader"
									type="BasicBusinessDocumentMessageHeader" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="Batch">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ID" type="BatchID" />
								<xsd:element name="MaterialInternalID" type="ProductInternalID" />
								<xsd:element minOccurs="0" name="SystemAdministrativeData"
									type="DATE_SystemAdministrativeData" />
								<xsd:element minOccurs="0" name="ProductionDate"
									type="Date" />
								<xsd:element minOccurs="0" name="AvailabilityDate"
									type="Date" />
								<xsd:element minOccurs="0" name="LastGoodsReceiptDate"
									type="Date" />
								<xsd:element minOccurs="0" name="NextQualityInspectionDate"
									type="Date" />
								<xsd:element minOccurs="0" name="ExpirationDate"
									type="Date" />
								<xsd:element minOccurs="0" name="OriginCountryCode"
									type="CountryCode" />
								<xsd:element minOccurs="0" name="OriginRegionCode"
									type="RegionCode" />
								<xsd:element name="RestrictedUseIndicator" type="Indicator" />
								<xsd:element maxOccurs="unbounded" minOccurs="0"
									name="PlantAssignment">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="PlantID" type="PlantID" />
											<xsd:element minOccurs="0"
												name="InventoryValuationTypeCode" type="InventoryValuationTypeCode" />
											<xsd:element maxOccurs="unbounded" minOccurs="0"
												name="InventoryManagedLocationAssignment">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="InventoryManagedLocationInternalID"
															type="LocationInternalID" />
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element maxOccurs="unbounded" minOccurs="0"
									name="PropertyValuation">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="PropertyValuation" type="PropertyValuation" />
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="Log">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Log" type="Log" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="BatchID">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="BusinessDocumentMessageID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="BusinessDocumentMessageID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencySchemeAgencyID"
							type="AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="BusinessDocumentMessageID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="35" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CountryCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="3" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="DATE_SystemAdministrativeData">
				<xsd:sequence>
					<xsd:element name="CreationDate" type="Date" />
					<xsd:element name="CreationUserAccountID" type="UserAccountID" />
					<xsd:element minOccurs="0" name="LastChangeDate" type="Date" />
					<xsd:element minOccurs="0" name="LastChangeUserAccountID"
						type="UserAccountID" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Date">
				<xsd:restriction base="xsd:date">
					<xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="DateTime">
				<xsd:simpleContent>
					<xsd:extension base="xsd:dateTime">
						<xsd:attribute name="timeZoneCode" type="TimeZoneCode" />
						<xsd:attribute name="daylightSavingTimeIndicator"
							type="xsd:boolean" />
						<xsd:attribute name="daylightSavingTimeIndicatorStr"
							type="xsd:string" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="DecimalValue">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="31" />
					<xsd:fractionDigits value="14" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="ExchangeFaultData">
				<xsd:sequence>
					<xsd:element name="faultText" type="xsd:string" />
					<xsd:element minOccurs="0" name="faultUrl" type="xsd:string" />
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="faultDetail" type="ExchangeLogData" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ExchangeLogData">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="severity" type="xsd:string" />
					<xsd:element name="text" type="xsd:string" />
					<xsd:element minOccurs="0" name="url" type="xsd:string" />
					<xsd:element minOccurs="0" name="id" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="FloatValue">
				<xsd:restriction base="xsd:float" />
			</xsd:simpleType>
			<xsd:simpleType name="Indicator">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:boolean" />
			</xsd:simpleType>
			<xsd:simpleType name="IntegerValue">
				<xsd:restriction base="xsd:integer" />
			</xsd:simpleType>
			<xsd:simpleType name="IntervalBoundaryTypeCode">
				<xsd:restriction base="xsd:token">
					<xsd:length value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="InventoryValuationTypeCode">
				<xsd:simpleContent>
					<xsd:extension base="InventoryValuationTypeCodeContent">
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="15" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="InventoryValuationTypeCodeContent">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="LocationInternalID">
				<xsd:simpleContent>
					<xsd:extension base="LocationInternalIDContent">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="LocationInternalIDContent">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="20" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Log">
				<xsd:sequence>
					<xsd:element minOccurs="0"
						name="BusinessDocumentProcessingResultCode" type="ProcessingResultCode" />
					<xsd:element minOccurs="0" name="MaximumLogItemSeverityCode"
						type="LogItemSeverityCode" />
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Item"
						type="LogItem" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="LogItem">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="TypeID">
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="40" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CategoryCode" type="LogItemCategoryCode" />
					<xsd:element minOccurs="0" name="SeverityCode" type="LogItemSeverityCode" />
					<xsd:element name="Note">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="200" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="WebURI" type="WebURI" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="LogItemCategoryCode">
				<xsd:simpleContent>
					<xsd:extension base="LogItemCategoryCodeContent">
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="15" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="3" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="LogItemCategoryCodeContent">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="15" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LogItemSeverityCode">
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="1" />
					<xsd:enumeration value="2" />
					<xsd:enumeration value="3" />
					<xsd:enumeration value="4" />
					<xsd:length value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="MeasureUnitCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="3" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Name">
				<xsd:simpleContent>
					<xsd:extension base="NameContent">
						<xsd:attribute name="languageCode">
							<xsd:simpleType>
								<xsd:restriction base="xsd:language">
									<xsd:maxLength value="9" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="NameContent">
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
			<xsd:simpleType name="OrdinalNumberValue">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:int" />
			</xsd:simpleType>
			<xsd:complexType name="PlantID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="PlantID.Content">
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="PlantID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="4" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ProcessingResultCode">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="2" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="ProductInternalID">
				<xsd:simpleContent>
					<xsd:extension base="ProductInternalIDContent">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="ProductInternalIDContent">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="60" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="PropertyDefinitionClassID">
				<xsd:simpleContent>
					<xsd:extension base="PropertyDefinitionClassIDContent">
						<xsd:attribute name="schemeAgencyID" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencySchemeAgencyID"
							type="AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="PropertyDefinitionClassIDContent">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="PropertyDefinitionClassReference">
				<xsd:sequence>
					<xsd:element name="ID" type="PropertyDefinitionClassID" />
					<xsd:element minOccurs="0" name="VersionID" type="VersionID" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="globalElementActionCode" type="ActionCode" />
			<xsd:complexType name="PropertyID">
				<xsd:simpleContent>
					<xsd:extension base="PropertyDefinitionClassIDContent">
						<xsd:attribute name="schemeAgencyID" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencySchemeAgencyID"
							type="AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="PropertyReference">
				<xsd:sequence>
					<xsd:element name="ID" type="PropertyID" />
					<xsd:element minOccurs="0" name="VersionID" type="VersionID" />
					<xsd:element minOccurs="0"
						name="PropertyDefinitionClassReference" type="PropertyDefinitionClassReference" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PropertyValuation">
				<xsd:sequence>
					<xsd:element name="PropertyReference" type="PropertyReference" />
					<xsd:element maxOccurs="unbounded" name="ValueGroup">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" minOccurs="0"
									name="ID" nillable="true">
									<xsd:simpleType>
										<xsd:restriction base="xsd:token">
											<xsd:maxLength value="10" />
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element minOccurs="0" name="ParentID">
									<xsd:simpleType>
										<xsd:restriction base="xsd:token">
											<xsd:maxLength value="10" />
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element minOccurs="0" name="OrdinalNumberValue"
									type="OrdinalNumberValue" />
								<xsd:element minOccurs="0" name="PropertyValue"
									type="PropertyValue" />
								<xsd:element name="actionCodeAsElement" type="ActionCode" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="actionCode" type="ActionCode" />
			</xsd:complexType>
			<xsd:complexType name="PropertyValue">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="AmountSpecification">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element minOccurs="0" name="Amount" type="Amount" />
								<xsd:element minOccurs="0" name="LowerAmount" type="Amount" />
								<xsd:element minOccurs="0" name="UpperAmount" type="Amount" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="QuantitySpecification">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element minOccurs="0" name="Quantity" type="Quantity" />
								<xsd:element minOccurs="0" name="LowerQuantity"
									type="Quantity" />
								<xsd:element minOccurs="0" name="UpperQuantity"
									type="Quantity" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="DecimalSpecification">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element minOccurs="0" name="DecimalValue" type="DecimalValue" />
								<xsd:element minOccurs="0" name="LowerDecimalValue"
									type="DecimalValue" />
								<xsd:element minOccurs="0" name="UpperDecimalValue"
									type="DecimalValue" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="FloatSpecification">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element minOccurs="0" name="FloatValue" type="FloatValue" />
								<xsd:element minOccurs="0" name="LowerFloatValue"
									type="FloatValue" />
								<xsd:element minOccurs="0" name="UpperFloatValue"
									type="FloatValue" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="IntegerSpecification">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element minOccurs="0" name="IntegerValue" type="IntegerValue" />
								<xsd:element minOccurs="0" name="LowerIntegerValue"
									type="IntegerValue" />
								<xsd:element minOccurs="0" name="UpperIntegerValue"
									type="IntegerValue" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="DateSpecification">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element minOccurs="0" name="Date" type="Date" />
								<xsd:element minOccurs="0" name="StartDate" type="Date" />
								<xsd:element minOccurs="0" name="EndDate" type="Date" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="TimeSpecification">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element minOccurs="0" name="Time" type="Time" />
								<xsd:element minOccurs="0" name="StartTime" type="Time" />
								<xsd:element minOccurs="0" name="EndTime" type="Time" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="DateTimeSpecification">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element minOccurs="0" name="DateTime" type="DateTime" />
								<xsd:element minOccurs="0" name="StartDateTime"
									type="DateTime" />
								<xsd:element minOccurs="0" name="EndDateTime" type="DateTime" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="NameSpecification">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element minOccurs="0" name="Name" type="Name" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="IndicatorSpecification">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element minOccurs="0" name="Indicator" type="Indicator" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="IntervalTypeCode"
						type="IntervalBoundaryTypeCode" />
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="PreferredName" type="Name" />
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="SynonymousName" type="Name" />
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="AbbreviationName" type="Name" />
					<xsd:element minOccurs="0" name="IconAttachment" type="Attachment" />
					<xsd:element minOccurs="0" name="AttachmentWebURI"
						type="WebURI" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Quantity">
				<xsd:simpleContent>
					<xsd:extension base="QuantityContent">
						<xsd:attribute name="unitCode" type="MeasureUnitCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="QuantityContent">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="31" />
					<xsd:fractionDigits value="14" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="RegionCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="RegionCode.Content">
						<xsd:attribute name="listID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="15" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="RegionCode.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="6" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Time">
				<xsd:restriction base="xsd:time">
					<xsd:pattern value="[^:]{2}:[^:]{2}:[^:]{2}" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="TimeZoneCode">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="UserAccountID">
				<xsd:simpleContent>
					<xsd:extension base="UserAccountIDContent">
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencySchemeAgencyID"
							type="AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="UserAccountIDContent">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="255" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="VersionID">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="32" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="WebURI">
				<xsd:restriction base="xsd:anyURI" />
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema xmlns:ns0="http://namespace1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://namespace1" attributeFormDefault="unqualified"
			elementFormDefault="unqualified">
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="BatchByIDQuery_sync">
		<wsdl:part element="n0:BatchByIDQuery_sync" name="parameters" />
	</wsdl:message>
	<wsdl:message name="BatchByIDResponse_sync">
		<wsdl:part element="n0:BatchByIDResponse_sync" name="parameters" />
	</wsdl:message>
	<wsdl:message name="exception00">
		<wsdl:part element="n0:StandardMessageFault" name="exception00" />
	</wsdl:message>
	<sap:Feature name="design_0 "
		uri="http://www.sap.com/webas/630/soap/features/authentication/">
		<sap:Property qname="n1:AuthenticationLevel">
			<sap:Option value="n1:Basic" />
		</sap:Property>
	</sap:Feature>
	<wsdl:portType name="BatchByIDQueryResponse_In">
		<sap:useFeature feature="tns:design_0 " />
		<wsdl:operation name="BatchByIDQueryResponse_In">
			<wsdl:input message="tns:BatchByIDQuery_sync" />
			<wsdl:output message="tns:BatchByIDResponse_sync" />
			<wsdl:fault message="tns:exception00" name="exception00" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BatchByIDQueryResponse_InSoapBinding"
		type="tns:BatchByIDQueryResponse_In">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="BatchByIDQueryResponse_In">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="exception00">
				<soap:fault name="exception00" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BatchByIDQueryResponse_InService">
		<wsdl:port binding="tns:BatchByIDQueryResponse_InSoapBinding"
			name="BatchByIDQueryResponse_InSoapBinding">
			<soap:address
				location="http://usai2q2o.wdf.sap.corp:50020/sap/bc/srt/xip/sap/ECC_BATCHIDQR/version3?sap-client=026" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
