plugins/org.eclipse.wst.sse.sieditor.test/pub/csns/ECC_IMAPPROPRIATIONREQREJRC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://sap.com/xi/EA-APPL/SE/Global"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n0="http://sap.com/xi/SAPGlobal20/Global"
	xmlns:n1="http://www.sap.com/webas/630/soap/features/authentication/"
	xmlns:sap="http://www.sap.com/webas/630/wsdl/features" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://sap.com/xi/EA-APPL/SE/Global" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
			xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/EA-APPL/SE/Global"
			xmlns="http://sap.com/xi/SAPGlobal20/Global" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://sap.com/xi/EA-APPL/SE/Global" />
			<xsd:element name="AppropriationRequestRejectConfirmation_sync"
				type="xi1:AppropriationRequestRejectConfirmationMessage_sync" />
			<xsd:element name="AppropriationRequestRejectRequest_sync"
				type="xi1:AppropriationRequestRejectRequestMessage_sync" />
			<xsd:element name="StandardMessageFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="standard" type="xi1:ExchangeFaultData" />
					</xsd:sequence>
                    <xsd:attribute name="Attribute1" type="xsd:string"></xsd:attribute>
                </xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema targetNamespace="http://sap.com/xi/EA-APPL/SE/Global"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
			xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/EA-APPL/SE/Global"
			xmlns="http://sap.com/xi/EA-APPL/SE/Global" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:simpleType name="AgencyIdentificationCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="3" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="AppropriationRequestID">
				<xsd:simpleContent>
					<xsd:extension base="AppropriationRequestID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="15" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencySchemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:length value="3" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="AppropriationRequestID.Content">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="24" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="AppropriationRequestRejectConfirmationMessage_sync">
				<xsd:sequence>
					<xsd:element name="AppropriationRequest" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ID" type="AppropriationRequestID" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Log" type="Log" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AppropriationRequestRejectRequestMessage_sync">
				<xsd:sequence>
					<xsd:element name="AppropriationRequest">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ID" type="AppropriationRequestID" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ExchangeFaultData">
				<xsd:sequence>
					<xsd:element name="faultText" type="xsd:string" />
					<xsd:element name="faultUrl" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="faultDetail" type="ExchangeLogData"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ExchangeLogData">
				<xsd:sequence>
					<xsd:element name="severity" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="text" type="xsd:string" />
					<xsd:element name="url" type="xsd:string" minOccurs="0" />
					<xsd:element name="id" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Log">
				<xsd:sequence>
					<xsd:element name="BusinessDocumentProcessingResultCode"
						type="ProcessingResultCode" minOccurs="0" />
					<xsd:element name="MaximumLogItemSeverityCode" type="LogItemSeverityCode"
						minOccurs="0" />
					<xsd:element name="Item" type="LogItem" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="LogItem">
				<xsd:sequence>
					<xsd:element name="TypeID" type="LogItemTypeID"
						minOccurs="0" />
					<xsd:element name="CategoryCode" type="LogItemCategoryCode"
						minOccurs="0" />
					<xsd:element name="SeverityCode" type="LogItemSeverityCode"
						minOccurs="0" />
					<xsd:element name="Note" type="LogItemNote" />
					<xsd:element name="WebURI" type="WebURI" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="LogItemCategoryCode">
				<xsd:simpleContent>
					<xsd:extension base="LogItemCategoryCodeContent">
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="15" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="LogItemCategoryCodeContent">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="15" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LogItemNote">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Note</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="200" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LogItemSeverityCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="1" />
					<xsd:enumeration value="2" />
					<xsd:enumeration value="3" />
					<xsd:enumeration value="4" />
					<xsd:length value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LogItemTypeID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ProcessingResultCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="2" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="WebURI">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:anyURI" />
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="AppropriationRequestRejectRequest_sync">
		<wsdl:part name="parameters" element="n0:AppropriationRequestRejectRequest_sync" />
	</wsdl:message>
	<wsdl:message name="AppropriationRequestRejectConfirmation_sync">
		<wsdl:part name="parameters"
			element="n0:AppropriationRequestRejectConfirmation_sync" />
	</wsdl:message>
	<wsdl:message name="exception00">
		<wsdl:part name="exception00" element="n0:StandardMessageFault" />
	</wsdl:message>
	<sap:Feature name="design_0 "
		uri="http://www.sap.com/webas/630/soap/features/authentication/">
		<sap:Property qname="n1:AuthenticationLevel">
			<sap:Option value="n1:Basic" />
		</sap:Property>
	</sap:Feature>
	<wsdl:portType name="AppropriationRequestRejectRequestConfirmation_In">
		<sap:useFeature feature="tns:design_0 " />
		<wsdl:operation name="AppropriationRequestRejectRequestConfirmation_In">
			<wsdl:input message="tns:AppropriationRequestRejectRequest_sync" />
			<wsdl:output message="tns:AppropriationRequestRejectConfirmation_sync" />
			<wsdl:fault name="exception00" message="tns:excep2tion00" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding
		name="AppropriationRequestRejectRequestConfirmation_InSoapBinding"
		type="tns:AppropriationRequestRejectRequestConfirmation_In">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="AppropriationRequestRejectRequestConfirmation_In">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="exception00">
				<soap:fault name="exception00" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AppropriationRequestRejectRequestConfirmation_InService">
		<wsdl:port
			name="AppropriationRequestRejectRequestConfirmation_InSoapBinding"
			binding="tns:AppropriationRequestRejectRequestConfirmation_InSoapBinding">
			<soap:address
				location="http://usai2q2o.wdf.sap.corp:50020/sap/bc/srt/xip/sap/ECC_IMAPPROPRIATIONREQREJRC?sap-client=026" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>