plugins/org.eclipse.wst.sse.sieditor.test/pub/csns/FINB_IC_ISSUE_CNCRC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://sap.com/xi/MICSOA/Global"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n0="http://sap.com/xi/SAPGlobal20/Global"
	xmlns:n1="http://www.sap.com/webas/630/soap/features/authentication/"
	xmlns:sap="http://www.sap.com/webas/630/wsdl/features" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://sap.com/xi/MICSOA/Global" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global"
			xmlns:xi1="http://sap.com/xi/MICSOA/Global" xmlns="http://sap.com/xi/SAPGlobal20/Global"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://sap.com/xi/MICSOA/Global" />
			<xsd:element name="InternalControlIssueCancelConfirmation_sync"
				type="xi1:InternalControlIssueCancelConfirmationMessage_sync" />
			<xsd:element name="InternalControlIssueCancelRequest_sync"
				type="xi1:InternalControlIssueCancelRequestMessage_sync" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://sap.com/xi/MICSOA/Global"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global"
			xmlns:xi1="http://sap.com/xi/MICSOA/Global" xmlns="http://sap.com/xi/MICSOA/Global"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:simpleType name="ATTRIBUTEINDEPENDENT_UUID">
				<xsd:restriction base="xsd:token">
					<xsd:length value="36" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="BasicBusinessDocumentMessageHeader">
				<xsd:sequence>
					<xsd:element name="ID" type="BusinessDocumentMessageID"
						minOccurs="0" />
					<xsd:element name="UUID" type="ATTRIBUTEINDEPENDENT_UUID"
						minOccurs="0" />
					<xsd:element name="ReferenceID" type="BusinessDocumentMessageID"
						minOccurs="0" />
					<xsd:element name="ReferenceUUID" type="ATTRIBUTEINDEPENDENT_UUID"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BusinessDocumentMessageID">
				<xsd:simpleContent>
					<xsd:extension base="BusinessDocumentMessageIDContent">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencySchemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="3" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="BusinessDocumentMessageIDContent">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="35" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="ExchangeFaultData">
				<xsd:sequence>
					<xsd:element name="faultText" type="xsd:string" />
					<xsd:element name="faultUrl" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="faultDetail" type="ExchangeLogData"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ExchangeLogData">
				<xsd:sequence>
					<xsd:element name="severity" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="text" type="xsd:string" />
					<xsd:element name="url" type="xsd:string" minOccurs="0" />
					<xsd:element name="id" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="InternalControlIssueCancelConfirmationMessage_sync">
				<xsd:sequence>
					<xsd:element name="MessageHeader" type="BasicBusinessDocumentMessageHeader"
						minOccurs="0" />
					<xsd:element name="Log" type="Log" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="InternalControlIssueCancelRequestMessage_sync">
				<xsd:sequence>
					<xsd:element name="MessageHeader" type="BasicBusinessDocumentMessageHeader"
						minOccurs="0" />
					<xsd:element name="InternalControlIssue">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ID" type="InternalControlIssueID" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="InternalControlIssueID">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="32" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Log">
				<xsd:sequence>
					<xsd:element name="BusinessDocumentProcessingResultCode"
						type="ProcessingResultCode" minOccurs="0" />
					<xsd:element name="MaximumLogItemSeverityCode" type="LogItemSeverityCode"
						minOccurs="0" />
					<xsd:element name="Item" type="LogItem" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="LogItem">
				<xsd:sequence>
					<xsd:element name="TypeID" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="40" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CategoryCode" type="LogItemCategoryCode" />
					<xsd:element name="SeverityCode" type="LogItemSeverityCode"
						minOccurs="0" />
					<xsd:element name="Note">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="200" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="WebURI" type="WebURI" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="LogItemCategoryCode">
				<xsd:simpleContent>
					<xsd:extension base="LogItemCategoryCodeContent">
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="15" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="3" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="LogItemCategoryCodeContent">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="15" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LogItemSeverityCode">
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="1" />
					<xsd:enumeration value="2" />
					<xsd:enumeration value="3" />
					<xsd:enumeration value="4" />
					<xsd:length value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ProcessingResultCode">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="2" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="WebURI">
				<xsd:restriction base="xsd:anyURI" />
			</xsd:simpleType>
			<xsd:element name="StandardMessageFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="standard" type="ExchangeFaultData" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="InternalControlIssueCancelRequest_sync">
		<wsdl:part name="parameters" element="n0:InternalControlIssueCancelRequest_sync" />
	</wsdl:message>
	<wsdl:message name="InternalControlIssueCancelConfirmation_sync">
		<wsdl:part name="parameters"
			element="n0:InternalControlIssueCancelConfirmation_sync" />
	</wsdl:message>
	<wsdl:message name="exception00">
		<wsdl:part name="exception00" element="tns:StandardMessageFault" />
	</wsdl:message>
	<sap:Feature name="design_0 "
		uri="http://www.sap.com/webas/630/soap/features/authentication/">
		<sap:Property qname="n1:AuthenticationLevel">
			<sap:Option value="n1:Basic" />
		</sap:Property>
	</sap:Feature>
	<wsdl:portType name="InternalControlIssueCancelRequestConfirmation_In">
		<sap:useFeature feature="tns:design_0 " />
		<wsdl:operation name="InternalControlIssueCancelRequestConfirmation_In">
			<wsdl:input message="tns:InternalControlIssueCancelRequest_sync" />
			<wsdl:output message="tns:InternalControlIssueCancelConfirmation_sync" />
			<wsdl:fault name="exception00" message="tns:exception00" />
		</wsdl:operation>
	</wsdl:portType>
	
</wsdl:definitions>