plugins/org.eclipse.wst.sse.sieditor.test/pub/csns/inlineSchemaWithAnnotation/ECC_PRODUCTIONORDERDELRC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://sap.com/xi/APPL/SE/Global"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n0="http://sap.com/xi/SAPGlobal20/Global"
	xmlns:n1="http://www.sap.com/webas/630/soap/features/authentication/"
	xmlns:sap="http://www.sap.com/webas/630/wsdl/features" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://sap.com/xi/APPL/SE/Global" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
			xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/APPL/SE/Global"
			xmlns="http://sap.com/xi/SAPGlobal20/Global" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import schemaLocation="ExtractedSchema2.xsd"
				namespace="http://sap.com/xi/APPL/SE/Global"></xsd:import>
			<xsd:element name="ProductionOrderDeleteConfirmation_sync"
				type="xi1:ProductionOrderDeleteConfirmationMessage_sync" />
			<xsd:element name="ProductionOrderDeleteRequest_sync"
				type="xi1:ProductionOrderDeleteRequestMessage_sync" />
			<xsd:element name="StandardMessageFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="standard" type="xi1:ExchangeFaultData" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import schemaLocation="ExtractedSchema2.xsd"
				namespace="http://sap.com/xi/APPL/SE/Global"></xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ProductionOrderDeleteRequest_sync">
		<wsdl:part name="parameters" element="n0:ProductionOrderDeleteRequest_sync" />
	</wsdl:message>
	<wsdl:message name="ProductionOrderDeleteConfirmation_sync">
		<wsdl:part name="parameters" element="n0:ProductionOrderDeleteConfirmation_sync" />
	</wsdl:message>
	<wsdl:message name="exception00">
		<wsdl:part name="exception00" element="n0:StandardMessageFault" />
	</wsdl:message>
	<sap:Feature name="design_0 "
		uri="http://www.sap.com/webas/630/soap/features/authentication/">
		<sap:Property qname="n1:AuthenticationLevel">
			<sap:Option value="n1:Basic" />
		</sap:Property>
	</sap:Feature>
	<wsdl:portType name="ProductionOrderDeleteRequestConfirmation_in">
		<sap:useFeature feature="tns:design_0 " />
		<wsdl:operation name="ProductionOrderDeleteRequestConfirmation_in">
			<wsdl:input message="tns:ProductionOrderDeleteRequest_sync" />
			<wsdl:output message="tns:ProductionOrderDeleteConfirmation_sync" />
			<wsdl:fault name="exception00" message="tns:exception00" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ProductionOrderDeleteRequestConfirmation_inSoapBinding"
		type="tns:ProductionOrderDeleteRequestConfirmation_in">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ProductionOrderDeleteRequestConfirmation_in">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="exception00">
				<soap:fault name="exception00" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ProductionOrderDeleteRequestConfirmation_inService">
		<wsdl:port name="ProductionOrderDeleteRequestConfirmation_inSoapBinding"
			binding="tns:ProductionOrderDeleteRequestConfirmation_inSoapBinding">
			<soap:address
				location="http://usai3q2o.wdf.sap.corp:50020/sap/bc/srt/xip/sap/ECC_PRODUCTIONORDERDELRC?sap-client=026" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>