plugins/org.eclipse.wst.sse.sieditor.test/data/pub/csns/labels/labels1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/empty/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="empty"
	targetNamespace="http://www.example.org/empty/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/empty/">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
            <xsd:element name="FaultElement1"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
        </xsd:schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://www.example.org/empty/11"
			targetNamespace="http://www.example.org/empty/11" xmlns:Q1="http://www.example.org/empty/22">
            <import schemaLocation="labels2.xsd" namespace="http://www.example.org/empty/22"></import>
            <simpleType name="SimpleType1">
				<restriction base="string"></restriction>
			</simpleType>
			<simpleType name="SimpleType2">
				<restriction base="tns2:SimpleType1">
					<length value="11"></length>
				</restriction>
			</simpleType>
			<simpleType name="SimpleType3">
				<restriction base="string"></restriction>
			</simpleType>
			<complexType name="ComplexTypeComplexContent">
				<complexContent>
					<extension base="tns2:ClassicComplexType">
						<sequence>
							<element minOccurs="1" maxOccurs="1" name="Element2">
								<simpleType>
									<restriction base="string">
										<length value="7"></length>
									</restriction>
								</simpleType>
							</element>
							<element minOccurs="1" maxOccurs="1"
								ref="tns2:GlobalElementSimpleContent"></element>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="ClassicComplexType">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="Element1" type="string"></element>
				</sequence>
			</complexType>
			<complexType name="ComplexTypeSimpleContent">
				<simpleContent>
					<extension base="tns2:SimpleType1"></extension>
				</simpleContent>
			</complexType>
			<element name="ClassicGlobalElement">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="string">
							<simpleType>
								<restriction base="string">
									<length value="1"></length>
								</restriction>
							</simpleType>
						</element>
					</sequence>
					<attribute name="Attribute_NoFacet" type="string"></attribute>
					<attribute name="Attribute_Facet">
						<simpleType>
							<restriction base="string">
								<length value="1"></length>
							</restriction>
						</simpleType>
					</attribute>
					<attribute name="Attribute1" type="tns2:SimpleType2"></attribute>
				</complexType>
			</element>
			<element name="GlobalElementComplexContent">
				<complexType>
					<complexContent>
						<extension base="tns2:ClassicComplexType">
							<sequence>
								<element minOccurs="1" maxOccurs="1" name="string"
									type="tns2:ClassicComplexType"></element>
							</sequence>
							<attribute name="Attribute1" type="string"></attribute>
						</extension>
					</complexContent>
				</complexType>
			</element>
			<element name="GlobalElementSimpleContent">
				<complexType>
					<simpleContent>
						<extension base="tns2:SimpleType1">
							<attribute name="Attribute1" type="string"></attribute>
							<attribute name="Attribute2" type="string"></attribute>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="Element1" type="double"></element>
			<element name="Element2">
				<simpleType>
					<restriction base="float">
						<minInclusive value="11"></minInclusive>
					</restriction>
				</simpleType>
			</element>
			<element name="Element3">
				<simpleType>
					<restriction base="float">
					</restriction>
				</simpleType>
			</element>
			<element name="Element4" type="tns2:ClassicComplexType"></element>
			<element name="Element5" type="tns2:SimpleType3"></element>
			<simpleType name="SimpleType4">
				<restriction base="Q1:SimpleTypeImport1"></restriction>
			</simpleType>
		</schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="tns:NewOperation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="tns:NewOperationResponse" name="parameters" />
	</wsdl:message>
    <wsdl:message name="NewOperationFault"><wsdl:part name="Parameter" element="tns:FaultElement1"></wsdl:part></wsdl:message>
    <wsdl:portType name="empty">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
            <wsdl:fault name="Fault1" message="tns:NewOperationFault"></wsdl:fault>
        </wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="emptySOAP" type="tns:empty">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation">
			<soap:operation soapAction="http://www.example.org/empty/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="empty">
		<wsdl:port binding="tns:emptySOAP" name="emptySOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
