plugins/org.eclipse.wst.sse.sieditor.test/pub/self/mix/ActionAvailabilityCheck.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:schns="http://www.example.org/" name="ActionAvailabilityCheck.wsdl" targetNamespace="http://www.example.org/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="NewOperationParameter"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="NewOperation1Parameter"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="schns:NewOperation" name="Parameter"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="schns:NewOperationResponse" name="Parameter"/>
  </wsdl:message>
    <wsdl:message name="NewOperationFault"><wsdl:part name="Parameter" element="tns:NewOperationParameter"></wsdl:part></wsdl:message>
    <wsdl:message name="NewOperation1Request"><wsdl:part name="Parameter" element="tns:NewOperation1Parameter"></wsdl:part></wsdl:message>
    <wsdl:message name="NewOperation1Response1"></wsdl:message>
    <wsdl:portType name="ActionAvailabilityCheck.wsdl">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
			<wsdl:fault name="Fault1" message="tns:NewOperationFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="NewOperation1">
			<wsdl:input message="tns:NewOperation1Request"></wsdl:input>
		</wsdl:operation>
	</wsdl:portType>
  <wsdl:binding name="ActionAvailabilityCheck.wsdlSOAP" type="tns:ActionAvailabilityCheck.wsdl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActionAvailabilityCheck.wsdl">
    <wsdl:port binding="tns:ActionAvailabilityCheck.wsdlSOAP" name="ActionAvailabilityCheck.wsdlSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
