plugins/org.eclipse.wst.sse.sieditor.test/pub/self/mix/DuplicateNameSI.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:schns="http://www.example.org/"
	name="DuplicateNameSI" targetNamespace="http://www.example.org/" xmlns:ns0="http://www.example.org/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="in" type="xsd:string"></xsd:element>
                    </xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
            <xsd:element name="NewOperation"><xsd:complexType><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="string" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:simpleType name="SimpleType"><xsd:restriction base="xsd:string"></xsd:restriction></xsd:simpleType>
            <xsd:simpleType name="SimpleType"><xsd:restriction base="xsd:string"></xsd:restriction></xsd:simpleType>
            <xsd:complexType name="StructureType"><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="Element1" type="xsd:string"></xsd:element><xsd:element minOccurs="1" maxOccurs="1" name="Element1" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType>
            <xsd:complexType name="StructureType"><xsd:sequence><xsd:element minOccurs="1" maxOccurs="1" name="Element1" type="xsd:string"></xsd:element></xsd:sequence></xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:ns0="http://www.example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/"></xsd:schema>
    </wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="schns:NewOperation" name="Parameter" />
		<wsdl:part name="Parameter" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="schns:NewOperationResponse" name="Parameter" />
		<wsdl:part name="Parameter" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Request">
		<wsdl:part name="Parameter" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Response">
		<wsdl:part name="Parameter" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Request1">
		<wsdl:part name="Parameter" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperation1Response1">
		<wsdl:part name="Parameter" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationFault">
		<wsdl:part name="Parameter" type="xsd:string"></wsdl:part>
		<wsdl:part name="Parameter" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationFault1">
		<wsdl:part name="Parameter" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="DuplicateNameSI">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
			<wsdl:fault name="Fault1" message="tns:NewOperationFault"></wsdl:fault>
			<wsdl:fault name="Fault1" message="tns:NewOperationFault1"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperation1Request1"></wsdl:input>
			<wsdl:output message="tns:NewOperation1Response1"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="DuplicateNameSI"></wsdl:portType>
	<wsdl:binding name="DuplicateNameSISOAP" type="tns:DuplicateNameSI">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation">
			<soap:operation soapAction="http://www.example.org/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DuplicateNameSI">
		<wsdl:port binding="tns:DuplicateNameSISOAP" name="DuplicateNameSISOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
