plugins/org.eclipse.wst.sse.sieditor.test/pub/self/mix/Imported.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/Imported/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:imp="http://www.example.com/"
	targetNamespace="http://www.example.org/Imported/">
	
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/Imported/">
			<xsd:element name="ImportedOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.example.com/" schemaLocation="example.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="ImportedOperationRequest">
		<wsdl:part element="tns:ImportedOperation" name="importedParamWithContainedType" />
		<wsdl:part element="imp:purchaseOrder" name="importedParamWithWsiImportedType" />
	</wsdl:message>
	<wsdl:message name="ImportedOperationResponse">
		<wsdl:part element="tns:NewOperationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="Imported">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="ImportedOperationRequest" />
			<wsdl:output message="tns:ImportedOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>