plugins/org.eclipse.wst.sse.sieditor.test/pub/self/mix/InvalidWSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/InvalidWSDL/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InvalidWSDL"
	targetNamespace="http://www.example.org/InvalidWSDL/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/InvalidWSDL/">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="InvalidRequest">
		<wsdl:part element="tns:NewOperation"/>
		<wsdl:part element="tns:NewOperation" name="" />
		<wsdl:part element="tns:MissingElement" name="parameterOne" />
		<wsdl:part element="tns:NewOperation" name="parameterTwo" />
	</wsdl:message>
	
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="tns:NewOperation" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="MissingParameterType">
		<wsdl:part/>
		<wsdl:part name="missingTypeParameter" />
		<wsdl:part element="tns:MissingElement" name="missingTypeParameterOne" />
		<wsdl:part type="tns:MissingType" name="missingTypeParameterTwo" />
		<wsdl:part element="tns:NewOperation" name="correctParameter" />
	</wsdl:message>
	
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="tns:NewOperationResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:portType>
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:portType name="">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:portType name="PortType">
		<wsdl:operation>
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
		<wsdl:operation name="">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>		
		<wsdl:operation name="Operation">
			<wsdl:input message="tns:InvalidRequest" />
			<wsdl:output message="tns:InvalidRequest" />
			<wsdl:fault message="tns:NewOperationRequest"/>
			<wsdl:fault name="" message="tns:NewOperationRequest"/>
			<wsdl:fault name="fault" message="tns:InvalidRequest"/>
		</wsdl:operation>
		<wsdl:operation name="MissingParameterType">
			<wsdl:input message="tns:MissingParameterType" />
			<wsdl:output message="tns:MissingParameterType" />
			<wsdl:fault name="fault" message="tns:MissingParameterType"/>
		</wsdl:operation>
		<wsdl:operation name="MissingMessage">
			<wsdl:input message="tns:MissingMessage" />
			<wsdl:output message="tns:MissingMessage" />
			<wsdl:fault name="fault" message="tns:MissingMessage"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>