plugins/org.eclipse.wst.sse.sieditor.test/pub/self/mix/InvalidTypes.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/TypesImporting/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TypesImporting"
	targetNamespace="http://www.example.org/TypesImporting/" xmlns:impex="http://www.example.com/"
	xmlns:imppo="http://www.example.com/IPO">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/TypesImporting/">
			<xsd:complexType name="complexType">
				<xsd:annotation>
					<xsd:documentation>Documentation</xsd:documentation>
					<xsd:documentation>Documentation1</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="elementParticle" type="impex:Address">
						<xsd:annotation>
							<xsd:documentation>Documentation</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="elementParticle1" type="xsd:int"
						minOccurs="2" maxOccurs="5" nillable="true">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="complexType">
				<xsd:annotation>
					<xsd:documentation>Documentation</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="elementParticle" type="impex:Address" />
						<xsd:element ref="tns:comment" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="globalElement" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Documentation</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:attribute name="globalAttribute" type="xsd:string" />
			<xsd:attributeGroup name="attributeGroup">
				<xsd:attribute name="attribute4">
					<xsd:simpleType>
						<xsd:restriction base="impex:SKU">
							<xsd:enumeration value="value1" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="attribute5" type="xsd:string" />
			</xsd:attributeGroup>
			<xsd:attributeGroup name="attributeGroup1">
				<xsd:attribute name="attribute8">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="value1" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute ref="tns:globalAttribute" />
				<xsd:attributeGroup ref="tns:attributeGroup" />
			</xsd:attributeGroup>
			<xsd:group name="modelGroup">
				<xsd:sequence>
					<xsd:element name="element1" type="xsd:string" />
					<xsd:element name="element2" type="xsd:int" />
				</xsd:sequence>
			</xsd:group>
			<xsd:group name="modelGroup1">
				<xsd:sequence>
					<xsd:element name="element1" type="xsd:string" />
					<xsd:element name="element2" type="xsd:int" />
					<xsd:group ref="tns:modelGroup" />
				</xsd:sequence>
			</xsd:group>
			<xsd:simpleType name="simpleType">
				<xsd:restriction base="imppo:SKU">
					<xsd:enumeration value="value1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="globalElementWithSt">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="value1" />
						<xsd:enumeration value="value2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:complexType name="ctWithAttributes">
				<xsd:sequence>
					<xsd:element ref="tns:globalElement" minOccurs="10"
						maxOccurs="100" />
					<xsd:element name="elementParticle3" type="xsd:string" />
				</xsd:sequence>
				<xsd:attribute name="attribute1" type="xsd:string" />
			</xsd:complexType>
			<xsd:complexType name="ctExtension">
				<xsd:complexContent>
					<xsd:extension base="impex:Items">
						<xsd:sequence>
							<xsd:element ref="imppo:comment" />
							<xsd:element name="elementParticle3" type="xsd:string" />
							<xsd:element name="elementParticle4" type="tns:simpleType"></xsd:element>
						</xsd:sequence>
						<xsd:attribute name="attribute1" type="xsd:string" />
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:element name="elementCtExtension">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="tns:complexType">
							<xsd:sequence>
								<xsd:element ref="tns:globalElement" />
								<xsd:element name="elementParticle3" type="xsd:string" />
							</xsd:sequence>
							<xsd:attribute name="attribute1" type="xsd:string" />
							<xsd:attribute name="attribute2">
								<xsd:simpleType>
									<xsd:restriction base="xsd:int">
										<xsd:minInclusive value="50" />
										<xsd:maxInclusive value="100" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ctRestriction">
				<xsd:complexContent>
					<xsd:restriction base="tns:complexType">
						<xsd:sequence>
							<xsd:element name="elementParticle">
								<xsd:simpleType>
									<xsd:restriction base="imppo:SKU">
										<xsd:enumeration value="value1" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="elementParticle1" type="xsd:long" />
						</xsd:sequence>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ctSimpleContentExtension">
				<xsd:simpleContent>
					<xsd:extension base="impex:SKU">
						<xsd:attribute name="attribute1" type="impex:SKU" />
						<xsd:attribute name="attribute2" type="imppo:SKU" />
						<xsd:attribute ref="impex:globalAttribute" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="ctSimpleContentRestriction">
				<xsd:simpleContent>
					<xsd:restriction base="tns:ctSimpleContentExtension">
						<xsd:enumeration value="value1" />
						<xsd:attribute name="attribute1">
							<xsd:simpleType>
								<xsd:restriction base="impex:SKU">
									<xsd:enumeration value="value1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="attribute2" type="imppo:SKU" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="nestedElements">
				<xsd:sequence>
					<xsd:sequence>
						<xsd:element ref="tns:globalElement" />
						<xsd:element name="elementParticle" type="xsd:string" />
						<xsd:element name="elementParticle1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:length value="25" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
					<xsd:element name="elementParticle2" type="xsd:string" />
					<xsd:sequence>
						<xsd:element name="elementParticle3" type="xsd:string" />
						<xsd:choice>
							<xsd:element name="elementParticle4" type="xsd:string" />
						</xsd:choice>
					</xsd:sequence>
				</xsd:sequence>
				<xsd:attribute name="attribute1">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="value1" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="attribute2" type="xsd:string" />
				<xsd:attributeGroup ref="tns:attributeGroup1" />
			</xsd:complexType>
			<xsd:complexType name="allModelGroupType">
				<xsd:all>
					<xsd:element ref="tns:globalElement" />
					<xsd:element name="elementParticle" type="xsd:string" />
					<xsd:element name="elementParticle1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="25" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="elementParticle2" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="groupDefinitionType">
				<xsd:all>
					<xsd:element ref="tns:globalElement" />
					<xsd:element name="elementParticle" type="xsd:string" />
					<xsd:element name="elementParticle1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="25" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="elementParticle2" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:element name="globalElementWithElements">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="elementParticle">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:sequence>
										<xsd:element ref="tns:globalElement" />
										<xsd:element name="elementParticle" type="xsd:string" />
										<xsd:element name="elementParticle1">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:length value="25" />
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:sequence>
									<xsd:element name="elementParticle2" type="tns:simpleType" />
									<xsd:sequence>
										<xsd:element name="elementParticle3" type="xsd:string" />
										<xsd:choice>
											<xsd:element name="elementParticle4" type="xsd:string" />
											<xsd:element name="anyContentElement" />
										</xsd:choice>
									</xsd:sequence>
								</xsd:sequence>
								<xsd:attribute name="attribute1">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:enumeration value="value1" />
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="attribute2" type="xsd:string" />
								<xsd:attribute ref="tns:globalAttributeDeclaration" />
								<xsd:attribute name="attribute4" type="tns:simpleType">
									<xsd:annotation>
										<xsd:documentation>Documentation
										</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ctImportedExtension">
				<xsd:complexContent>
					<xsd:extension base="impex:Address">
						<xsd:attribute ref="impex:globalAttribute" />
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ctImportedRestriction">
				<xsd:complexContent>
					<xsd:restriction base="imppo:Address">
						<xsd:sequence>
							<xsd:element name="name" type="xsd:string" />
							<xsd:element name="street" type="xsd:string" />
							<xsd:element name="city" type="xsd:string" />
						</xsd:sequence>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
</wsdl:definitions>