plugins/org.eclipse.wst.sse.sieditor.test/pub/self/mix/NullNamespaceWSDL_copy.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/NullNamespaceWSDL/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NullNamespaceWSDL"
	targetNamespace="http://www.example.org/NullNamespaceWSDL/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/NullNamespaceWSDL/">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

			<xsd:annotation>
				<xsd:documentation xml:lang="en">
					International Purchase order schema for Example.com
					Copyright 2000 Example.com. All rights reserved.
    			</xsd:documentation>
			</xsd:annotation>

			<xsd:complexType name="Address">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="street" type="xsd:string" />
					<xsd:element name="city" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="purchaseOrder" type="PurchaseOrderType" />

			<xsd:element name="comment" type="xsd:string" /> 

			<xsd:complexType name="PurchaseOrderType">
				<xsd:sequence>
					<xsd:element name="shipTo" type="Address" />
					<xsd:element name="billTo" type="Address" />
					<xsd:element name="items" type="ItemsExtended" />
				</xsd:sequence>
				<xsd:attribute name="orderDate" type="xsd:date" />
			</xsd:complexType> 

			<xsd:complexType name="ItemsExtended">
				<xsd:complexContent>
					<xsd:extension base="Items">
						<xsd:sequence>
							<xsd:element name="specialId" type="xsd:integer" />
							<xsd:element ref="comment" minOccurs="0" />
						</xsd:sequence>
						<xsd:attribute name="specialAtt" type="xsd:string"
							use="required" />
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ItemsBase">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="productName" type="xsd:string" />
								<xsd:element name="quantity">
									<xsd:simpleType>
										<xsd:restriction base="xsd:positiveInteger">
											<xsd:maxExclusive value="100"></xsd:maxExclusive>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="USPrice" type="xsd:decimal" />
								<xsd:element name="shipDate" type="xsd:date"
									minOccurs="0" />
							</xsd:sequence>
							<xsd:attribute name="partNum" type="SKU" use="required" />
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Items">
				<xsd:complexContent>
					<xsd:extension base="ItemsBase">
						<xsd:sequence minOccurs="0">
							<xsd:element name="elementBase" type="xsd:decimal" />
						</xsd:sequence>
						<xsd:attribute name="atributeBase" type="xsd:string" />
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:simpleType name="SKU">
				<xsd:restriction base="xsd:string">
				</xsd:restriction>
			</xsd:simpleType>

		</xsd:schema>

	</wsdl:types>
</wsdl:definitions>
