plugins/org.eclipse.wst.sse.sieditor.test/pub/self/mix/Operations.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/Operations/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Operations"
	targetNamespace="http://www.example.org/Operations/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/Operations/">
			<xsd:element name="OperationWithNoInputOutput">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="OperationWithNoInputOutputResponse1">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse1">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="OperationWithNoInputOutputRequest">
		<wsdl:part element="tns:OperationWithNoInputOutput" name="parameters" />
	</wsdl:message>
	<wsdl:message name="AsyncOperationRequest">
		<wsdl:part element="tns:NewOperation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="tns:NewOperationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="FaultMessage">
		<wsdl:part element="tns:NewOperation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="AsyncOperationRequest">
		<wsdl:part element="tns:NewOperation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="SyncOperation2Request">
		<wsdl:part element="tns:NewOperation" name="Parameter1" />
		<wsdl:part element="tns:NewOperation" name="Parameter2" />
		<wsdl:part element="tns:NewOperation" name="Parameter3" />
		<wsdl:part element="tns:NewOperation" name="Parameter4" />
	</wsdl:message>
	<wsdl:message name="SyncOperation2Response">
		<wsdl:part element="tns:NewOperationResponse" name="Parameter1" />
		<wsdl:part element="tns:NewOperationResponse" name="Parameter2" />
		<wsdl:part element="tns:NewOperationResponse" name="Parameter3" />
		<wsdl:part element="tns:NewOperationResponse" name="Parameter4" />
	</wsdl:message>
	<wsdl:message name="FaultMessage2">
		<wsdl:part element="tns:NewOperation" name="Parameter1" />
		<wsdl:part element="tns:NewOperation" name="Parameter2" />
		<wsdl:part element="tns:NewOperation" name="Parameter3" />
		<wsdl:part element="tns:NewOperation" name="Parameter4" />
	</wsdl:message>
	<wsdl:message name="OperationWithNoInputOutputResponse1">
		<wsdl:part name="parameters" element="tns:OperationWithNoInputOutputResponse1"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part name="parameters" element="tns:NewOperation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse1">
		<wsdl:part name="parameters" element="tns:NewOperationResponse1"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Operations">
		<wsdl:operation name="SyncOperation">
			<wsdl:documentation>Documentation</wsdl:documentation>
			<wsdl:input message="tns:OperationWithNoInputOutputRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
			<wsdl:fault name="fault1" message="tns:FaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="SyncOperationWithNoMessage">
			<wsdl:documentation>
				Documentation
				<one>one</one>
			</wsdl:documentation>
			<wsdl:input />
			<wsdl:output />
		</wsdl:operation>
		<wsdl:operation name="ASyncOperationWithNoMessage">
			<wsdl:input />
		</wsdl:operation>
		<wsdl:operation name="SyncOperationWithMissingMessages">
			<wsdl:documentation><one>one</one></wsdl:documentation>
			<wsdl:input message="tns:Missing" />
			<wsdl:output message="tns:Missing" />
		</wsdl:operation>
		<wsdl:operation name="ASyncOperationWithMissingMessage">
			<wsdl:input message="tns:Missing" />
		</wsdl:operation>
		<wsdl:operation name="ASyncOperation">
			<wsdl:input message="tns:AsyncOperationRequest" />
		</wsdl:operation>
		<wsdl:operation name="SyncOperation1">
			<wsdl:documentation>Documentation</wsdl:documentation>
			<wsdl:input message="tns:OperationWithNoInputOutputRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
			<wsdl:fault name="fault1" message="tns:FaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="ASyncOperation1">
			<wsdl:documentation>Documentation</wsdl:documentation>
			<wsdl:input message="tns:OperationWithNoInputOutputRequest" />
			<wsdl:fault name="fault1" message="tns:FaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="SyncOperation2">
			<wsdl:documentation>Documentation</wsdl:documentation>
			<wsdl:input message="tns:SyncOperation2Request" />
			<wsdl:output message="tns:SyncOperation2Response" />
			<wsdl:fault name="fault1" message="tns:FaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="TestFault">
			<wsdl:documentation>Documentation</wsdl:documentation>
			<wsdl:input message="tns:OperationWithNoInputOutputRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
			<wsdl:fault name="fault1" message="tns:FaultMessage" />
			<wsdl:fault name="faultWithMissingMessage" message="tns:MissingMessage" />
			<wsdl:fault name="faultWithNoMessage" />
			<wsdl:fault name="fault2" message="tns:FaultMessage2" />
		</wsdl:operation>
		<wsdl:operation name="OperationWithNoInputOutput1">
		</wsdl:operation>
		<wsdl:operation name="OperationWithNoInputOutput2">
		</wsdl:operation>
	</wsdl:portType>
	
		<wsdl:binding name="OperationsBinding" type="tns:Operations">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="TestFault">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault1">
				<soap:fault name="fault1" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

</wsdl:definitions>