plugins/org.eclipse.wst.sse.sieditor.test/pub/self/mix/StructureType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/StructureType/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/StructureType/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/StructureType/">
			<xsd:complexType name="complexType">
				<xsd:annotation>
					<xsd:documentation>Documentation</xsd:documentation>
					<xsd:documentation>Documentation1</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="elementParticle" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Documentation</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="elementParticle1" type="xsd:int"
						minOccurs="2" maxOccurs="5" nillable="true">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="complexType">
				<xsd:annotation>
					<xsd:documentation>Documentation</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="elementParticle" type="xsd:string" />
						<xsd:element name="elementParticle1" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="globalElement" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Documentation</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="elementWithGlobalType" type="tns:complexType"/>
			<xsd:attribute name="globalAttribute" type="xsd:string" />
			<xsd:attributeGroup name="attributeGroup">
				<xsd:attribute name="attribute4">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="value1" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="attribute5" type="xsd:string" />
			</xsd:attributeGroup>
			<xsd:attributeGroup name="attributeGroup1">
				<xsd:attribute name="attribute8">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="value1" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute ref="tns:globalAttribute" />
				<xsd:attributeGroup ref="tns:attributeGroup" />
			</xsd:attributeGroup>
			<xsd:group name="modelGroup">
				<xsd:sequence>
					<xsd:element name="element1" type="xsd:string" />
					<xsd:element name="element2" type="xsd:int" />
				</xsd:sequence>
			</xsd:group>
			<xsd:group name="modelGroup1">
				<xsd:sequence>
					<xsd:element name="element1" type="xsd:string" />
					<xsd:element name="element2" type="xsd:int" />
					<xsd:group ref="tns:modelGroup" />
				</xsd:sequence>
			</xsd:group>
			<xsd:simpleType name="simpleType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="value1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="globalElementWithSt">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="value1" />
						<xsd:enumeration value="value2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:complexType name="ctWithAttributes">
				<xsd:annotation>
					<xsd:documentation><one>One</one></xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element ref="tns:globalElement" minOccurs="10"
						maxOccurs="100" />
					<xsd:element name="elementParticle3" type="xsd:string" />
				</xsd:sequence>
				<xsd:attribute name="attribute1" type="xsd:string" />
			</xsd:complexType>
			<xsd:complexType name="ctExtension">
				<xsd:complexContent>
					<xsd:extension base="tns:complexType">
						<xsd:sequence>
							<xsd:element ref="tns:globalElement" />
							<xsd:element name="elementParticle3" type="xsd:string" />
							<xsd:element name="elementParticle4" type="tns:simpleType"/>
						</xsd:sequence>
						<xsd:attribute name="attribute1" type="xsd:string" />
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:element name="elementCtExtension">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="tns:complexType">
							<xsd:sequence>
								<xsd:element ref="tns:globalElement" />
								<xsd:element name="elementParticle3" type="xsd:string" />
							</xsd:sequence>
							<xsd:attribute name="attribute1" type="xsd:string" />
							<xsd:attribute name="attribute2">
								<xsd:simpleType>
									<xsd:restriction base="xsd:int">
										<xsd:minInclusive value="50" />
										<xsd:maxInclusive value="100" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ctRestriction">
				<xsd:complexContent>
					<xsd:restriction base="tns:complexType">
						<xsd:sequence>
							<xsd:element name="elementParticle">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="value1" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="elementParticle1" type="xsd:long" />
						</xsd:sequence>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ctSimpleContentExtension">
				<xsd:simpleContent>
					<xsd:extension base="xsd:string">
						<xsd:attribute name="attribute1" type="xsd:string" />
						<xsd:attribute name="attribute2" type="xsd:string" />
						<xsd:attribute ref="tns:globalAttribute" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="ctSimpleContentRestriction">
				<xsd:simpleContent>
					<xsd:restriction base="tns:ctSimpleContentExtension">
						<xsd:enumeration value="value1" />
						<xsd:attribute name="attribute1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="value1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="attribute2" type="xsd:string" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="nestedElements">
				<xsd:sequence>
					<xsd:sequence>
						<xsd:element ref="tns:globalElement" />
						<xsd:element name="elementParticle" type="xsd:string" />
						<xsd:element name="elementParticle1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:length value="25" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
					<xsd:element name="elementParticle2" type="xsd:string" />
					<xsd:sequence>
						<xsd:element name="elementParticle3" type="xsd:string" />
						<xsd:choice>
							<xsd:element name="elementParticle4" type="xsd:string" />
						</xsd:choice>
					</xsd:sequence>
				</xsd:sequence>
				<xsd:attribute name="attribute1">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="value1" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="attribute2" type="xsd:string" />
				<xsd:attributeGroup ref="tns:attributeGroup1" />
			</xsd:complexType>
			<xsd:complexType name="allModelGroupType">
				<xsd:all>
					<xsd:choice>
						<xsd:element ref="tns:globalElement" />
						<xsd:element name="elementParticle" type="xsd:string" />
						<xsd:element name="elementParticle1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:length value="25" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:choice>
					<xsd:element name="elementParticle2" type="xsd:string" />
					<xsd:sequence>
						<xsd:element name="elementParticle3" type="xsd:string" />
						<xsd:choice>
							<xsd:element name="elementParticle4" type="xsd:string" />
						</xsd:choice>
					</xsd:sequence>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="groupDefinitionType">
				<xsd:all>
					<xsd:choice>
						<xsd:element ref="tns:globalElement" />
						<xsd:element name="elementParticle" type="xsd:string" />
						<xsd:element name="elementParticle1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:length value="25" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:group ref="tns:modelGroup" />
						<xsd:group ref="tns:modelGroup1" />
					</xsd:choice>
					<xsd:element name="elementParticle2" type="xsd:string" />
					<xsd:sequence>
						<xsd:element name="elementParticle3" type="xsd:string" />
						<xsd:choice>
							<xsd:element name="elementParticle4" type="xsd:string" />
							<xsd:group ref="tns:modelGroup" />
						</xsd:choice>
					</xsd:sequence>
				</xsd:all>
			</xsd:complexType>
			<xsd:element name="globalElementWithElements">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="elementParticle">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:sequence>
										<xsd:element ref="tns:globalElement" />
										<xsd:element name="elementParticle" type="xsd:string" />
										<xsd:element name="elementParticle1">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:length value="25" />
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:sequence>
									<xsd:element name="elementParticle2" type="tns:simpleType" />
									<xsd:sequence>
										<xsd:element name="elementParticle3" type="xsd:string" />
										<xsd:choice>
											<xsd:element name="elementParticle4" type="xsd:string" />
											<xsd:element name="anyContentElement" />
										</xsd:choice>
									</xsd:sequence>
								</xsd:sequence>
								<xsd:attribute name="attribute1">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:enumeration value="value1" />
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="attribute2" type="xsd:string" />
								<xsd:attribute ref="tns:globalAttribute"/>
								<xsd:attribute name="attribute4" type="tns:simpleType">
									<xsd:annotation>
										<xsd:documentation>Documentation</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="elementWithSimpleTypeRef" type="xsd:string"/>
			<xsd:element name="elementWithComplexTypeRef" type="tns:complexType"/>
			<xsd:element name="openContentElement"/>
			<xsd:element name="elementWithAnonymousSimpleType">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="value1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="tns:NewOperation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="tns:NewOperationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="SimpleType">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SimpleTypeSOAP" type="tns:SimpleType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation">
			<soap:operation soapAction="http://www.example.org/SimpleType/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SimpleType">
		<wsdl:port binding="tns:SimpleTypeSOAP" name="SimpleTypeSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>