plugins/org.eclipse.wst.sse.sieditor.test/pub/self/mix/TypesReferringExternalSchema_copy.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://www.example.org/MultipleNamespaces/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/MultipleNamespaces/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/MultipleNamespaces/"
			xmlns:imp="http://www.example.org/Imported/">
			
			<xsd:import namespace="http://www.example.org/Imported/" schemaLocation="./Imported_copy.xsd"/>
			
			<xsd:complexType name="complexType">
				<xsd:sequence>
					<xsd:element name="element" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:simpleType name="simpleType">
				<xsd:restriction base="xsd:int">
					<xsd:maxInclusive value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="secondSimpleType">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value=".*"/>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:attribute name="attribute" type="xsd:string"/>
			
			<xsd:attributeGroup name="attributeGroup">
				<xsd:attribute name="agAttr1" type="xsd:string"/>
			</xsd:attributeGroup>
			
			<xsd:group name="modelGroup">
				<xsd:sequence>
					<xsd:element name="mgElement1" type="tns:simpleType"/>
					<xsd:element name="mgElement2" type="imp:simpleType"/>
					<xsd:group ref="tns:secondModelGroup"/>
				</xsd:sequence>
			</xsd:group>

			<xsd:group name="secondModelGroup">
				<xsd:sequence>
					<xsd:element name="smgElement1" type="tns:simpleType"/>
					<xsd:element name="smgElement2" type="imp:simpleType"/>
				</xsd:sequence>
			</xsd:group>
			
			<xsd:simpleType name="simpleTypeWithTypeRef">
				<xsd:restriction base="tns:simpleType">
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="simpleTypeWithExternalTypeRef">
				<xsd:restriction base="imp:simpleType">
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="simpleTypeWithAnonymousRefType">
				<xsd:restriction>
					<xsd:simpleType>
						<xsd:restriction base="tns:simpleType">
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="simpleTypeWithAnonymousRefExternalType">
				<xsd:restriction>
					<xsd:simpleType>
						<xsd:restriction base="imp:simpleType">
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:attribute name="attributeWithSimpleTypeRef" type="tns:simpleType"/>
			
			<xsd:element name="globalElement" type="xsd:int"/>
			
			<xsd:element name="globalElementWithSimpleTypeRef" type="tns:simpleType"/>
			
			<xsd:element name="globalElementWithComplexTypeRef" type="tns:ComplexCompositeType"/>
			
			<xsd:element name="globalElementWithAnonymousComplexType">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="tns:complexType">
							<xsd:sequence>
								<xsd:element ref="tns:globalElement"/>
								<xsd:element name="elementWithTypeSimpleTypeRef" type="tns:simpleType"/>			
								<xsd:element name="elementWithTypeComplexTypeRef" type="tns:ComplexCompositeType"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:complexType name="TypeWithElementRef">
				<xsd:sequence>
					<xsd:element ref="tns:globalElement"/>
					<xsd:element ref="imp:globalElement"/>
					<xsd:element ref="tns:globalElementWithSimpleTypeRef"/>
					<xsd:element ref="tns:globalElementWithComplexTypeRef"/>
					<xsd:element ref="imp:globalElementWithSimpleTypeRef"/>
					<xsd:element ref="imp:globalElementWithComplexTypeRef"/>
					<xsd:element ref="tns:globalElementWithAnonymousComplexType"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="TypeWithAttributeRef">
				<xsd:attribute ref="tns:attribute"/>
				<xsd:attribute ref="imp:secondAttribute"/>
				<xsd:attribute ref="tns:attributeWithSimpleTypeRef"/>
			</xsd:complexType>
			
			<xsd:complexType name="TypeWithAttributes">
				<xsd:attribute name="attributeWithSimpleTypeHavingBTRef">
					<xsd:simpleType>
						<xsd:restriction base="tns:secondSimpleType">
							<xsd:enumeration value="value1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="attribtuteWithExternalTypeRef" type="imp:secondSimpleType"/>
			</xsd:complexType>
			
			<xsd:complexType name="TypeWithAttribtueGroupRef">
				<xsd:attributeGroup ref="tns:attributeGroup"/>
				<xsd:attributeGroup ref="imp:attributeGroup"/>
			</xsd:complexType>
			
			<xsd:complexType name="TypeWithRef">
				<xsd:sequence>
					<xsd:group ref="tns:modelGroup"/>
					<xsd:group ref="imp:modelGroupOne"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="ComplexTypeWithSimpleTypeRef">
				<xsd:sequence>
					<xsd:element name="element1" type="tns:simpleType" />
					<xsd:element name="element2" type="imp:simpleType" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="ComplexTypeWithComplexTypeRef">
				<xsd:sequence>
					<xsd:element name="element1" type="tns:complexType" />
					<xsd:element name="element2" type="imp:complexType" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ComplexCompositeType">
				<xsd:sequence>
					<xsd:element name="element1" type="tns:simpleType" />
					<xsd:element name="element2" type="tns:complexType" />
					<xsd:element name="element3" type="imp:simpleType" />
					<xsd:element name="element4" type="imp:complexType" />
					<xsd:element name="element5" type="tns:simpleTypeWithTypeRef" />
					<xsd:element name="element6" type="tns:simpleTypeWithExternalTypeRef" />
					<xsd:element name="element7" type="tns:simpleTypeWithAnonymousRefType" />
					<xsd:element name="element8" type="tns:simpleTypeWithAnonymousRefExternalType" />
					<xsd:element ref="tns:globalElement"/>
					<xsd:element ref="imp:globalElement"/>
					<xsd:element ref="tns:globalElementWithSimpleTypeRef"/>
					<xsd:element ref="tns:globalElementWithComplexTypeRef"/>
					<xsd:element ref="imp:globalElementWithSimpleTypeRef"/>
					<xsd:element ref="imp:globalElementWithComplexTypeRef"/>
					<xsd:element ref="tns:globalElementWithAnonymousComplexType"/>
					<xsd:element name="element9" type="tns:TypeWithElementRef" />					
				</xsd:sequence>
				<xsd:attribute ref="tns:attribute"/>
				<xsd:attribute ref="imp:secondAttribute"/>
				<xsd:attribute ref="tns:attributeWithSimpleTypeRef"/>
				<xsd:attribute name="attributeWithSimpleTypeHavingBTRef">
					<xsd:simpleType>
						<xsd:restriction base="tns:secondSimpleType">
							<xsd:enumeration value="value1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="attribtuteWithExternalTypeRef" type="imp:secondSimpleType"/>
				<xsd:attributeGroup ref="tns:attributeGroup"/>
				<xsd:attributeGroup ref="imp:attributeGroup"/>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
</wsdl:definitions>