plugins/org.eclipse.wst.sse.sieditor.test/pub/self/mix/TypesInternalIncluding.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/TypesImporting/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TypesImporting"
	targetNamespace="http://www.example.org/TypesImporting/" xmlns:impex="http://www.example.com/"
	xmlns:imppo="http://www.example.com/IPO">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.example.org/TypesImporting/" xmlns:tns="http://www.example.org/TypesImporting/">
			<complexType name="Address">
				<sequence>
					<element name="name" type="string" />
					<element name="street" type="string" />
					<element name="city" type="string" />
				</sequence>
			</complexType>
			<element name="purchaseOrder" type="tns:PurchaseOrderType" />
			<element name="comment" type="string" />
			<complexType name="PurchaseOrderType">
				<sequence>
					<element name="shipTo" type="tns:Address" />
					<element name="billTo" type="tns:Address" />
					<element name="items" type="tns:ItemsExtended" />
				</sequence>
				<attribute name="orderDate" type="date" />
			</complexType>
			<complexType name="ItemsExtended">
				<complexContent>
					<extension base="tns:Items">
						<sequence>
							<element name="specialId" type="integer" />
							<element ref="tns:comment" minOccurs="0" />
						</sequence>
						<attribute name="specialAtt" type="string" use="required" />
					</extension>
				</complexContent>
			</complexType>
			<complexType name="ItemsBase">
				<sequence>
					<element name="item" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<sequence>
								<element name="productName" type="string" />
								<element name="quantity">
									<simpleType>
										<restriction base="positiveInteger">
											<maxExclusive value="100"></maxExclusive>
										</restriction>
									</simpleType>
								</element>
								<element name="USPrice" type="decimal" />
								<element name="shipDate" type="date" minOccurs="0" />
							</sequence>
							<attribute name="partNum" type="tns:SKU" use="required" />
						</complexType>
					</element>
				</sequence>
			</complexType>
			<complexType name="Items">
				<complexContent>
					<extension base="tns:ItemsBase">
						<sequence minOccurs="0">
							<element name="elementBase" type="decimal" />
						</sequence>
						<attribute name="atributeBase" type="string" />
					</extension>
				</complexContent>
			</complexType>
			<simpleType name="SKU">
				<restriction base="string">
				</restriction>
			</simpleType>
			<attribute name="globalAttributeDeclaration">
				<simpleType>
					<restriction base="string">
						<enumeration value="value1" />
					</restriction>
				</simpleType>
			</attribute>
		</schema>
		<xsd:schema targetNamespace="http://www.example.org/TypesImporting/">
			<xsd:complexType name="complexType">
				<xsd:annotation>
					<xsd:documentation>Documentation</xsd:documentation>
					<xsd:documentation>Documentation1</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="elementParticle" type="tns:Address">
						<xsd:annotation>
							<xsd:documentation>Documentation</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="elementParticle1" type="tns:SKU">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="tns:comment" />
				</xsd:sequence>
				<xsd:attribute name="attribute1" type="tns:SKU" />
				<xsd:attribute name="attribute2">
					<xsd:simpleType>
						<xsd:restriction base="tns:SKU">
							<xsd:enumeration value="value1" />
							<xsd:enumeration value="value2" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:complexType>
			<xsd:element name="globalElement" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Documentation</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:simpleType name="simpleType">
				<xsd:restriction base="tns:SKU">
					<xsd:enumeration value="value1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="globalElementWithSt">
				<xsd:simpleType>
					<xsd:restriction base="tns:SKU">
						<xsd:enumeration value="value1" />
						<xsd:enumeration value="value2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:complexType name="ctSimpleContentExtension">
				<xsd:simpleContent>
					<xsd:extension base="tns:SKU">
						<xsd:attribute name="attribute1" type="tns:SKU" />
						<xsd:attribute name="attribute2" type="tns:SKU" />
						<xsd:attribute ref="tns:globalAttributeDeclaration" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="ctSimpleContentRestriction">
				<xsd:simpleContent>
					<xsd:restriction base="tns:ctSimpleContentExtension">
						<xsd:enumeration value="value1" />
						<xsd:attribute name="attribute1">
							<xsd:simpleType>
								<xsd:restriction base="tns:SKU">
									<xsd:enumeration value="value1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="attribute2" type="tns:SKU" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="ctImportedExtension">
				<xsd:complexContent>
					<xsd:extension base="tns:Address">
						<xsd:attribute ref="tns:globalAttributeDeclaration" />
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ctImportedRestriction">
				<xsd:complexContent>
					<xsd:restriction base="tns:Address">
						<xsd:sequence>
							<xsd:element name="name" type="xsd:string" />
							<xsd:element name="street" type="xsd:string" />
							<xsd:element name="city" type="xsd:string" />
						</xsd:sequence>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
</wsdl:definitions>