plugins/org.eclipse.wst.sse.sieditor.test/pub/extract/ExtractedSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns2="http://namespace3" xmlns:ns1="http://namespace2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:ns0="http://namespace1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.example.org/NewWSDLFile/">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" name="out" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="StructureType1">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="Element1" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StructureType2">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="Element1" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
