plugins/org.eclipse.wst.sse.sieditor.test/pub/extract/NamespaceImportsXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NamespaceImportsXSD"
	xmlns:tns="http://www.example.org/NamespaceImportsXSD"
	elementFormDefault="qualified">
	<element name="ElementImport1">
		<complexType>
			<sequence>
				<element minOccurs="1" maxOccurs="1" name="string" type="string"></element>
			</sequence>
		</complexType>
	</element>
	<complexType name="StructureTypeImport1">
		<sequence>
			<element minOccurs="1" maxOccurs="1" name="Element1" type="string"></element>
		</sequence>
	</complexType>
</schema>